.masthead {
  margin-bottom: 5px;
  margin-top: 50px;
  background-attachment: scroll;
  background-repeat: no-repeat;
  position: relative;
  background-size: cover;
  height: 800px
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: #212529;
  opacity: 0;
}

.post-heading{
  margin-top: 75px
}

.post-heading h1{
  text-transform: uppercase;
  font-size: 3.5em;
  font-weight: 700;
}

h2.subheading {
  font-weight: 400;
  color: #4b31dd;
  font-size: 1.5em;
  line-height: 1.2em;
  width: 90%
}

.arquivado{
  font-family: 'Roboto Mono', monospace;
  text-transform: uppercase;
  font-size: 0.7em !important;
}

.arquivado span{
  color: #4b31dd;
}

.meta{
  font-weight: 400;
}

.creditos{
  margin-bottom: 30px;
}

.creditos_alt{
  padding-bottom: 5px;
  line-height: 2em;
  font-size: 0.8em;
  font-family: 'Roboto Mono', monospace !important;
}

.links_dados{
  font-family: 'Roboto Mono', monospace !important;
  line-height: 1.6em;
}

.main{
  max-width: 100% !important;
}

.texto_post{
  font-size: 1em;
  color: #231f20
}

.texto_post p{
  margin-bottom: 25px;
}

.texto_post > p:first-child{
  font-weight: 500;
  font-size: 1.3em
}

.texto_post img{
  width: 95%;
  margin: 15px 0
}

.texto_post h3{
  color: #4b31dd;
  text-transform: uppercase;
  margin-top: 35px
}

.texto_post h4{
  color: #4b31dd;
  text-transform: uppercase;
  margin: 35px 0;
  font-size: 0.8em;
}

.texto_post h5{
  color: #4b31dd;
  text-transform: uppercase;
  line-height: 1.5em;
  margin: 35px 0;
  font-size: 1.2em;
  font-weight: 400;
  width: 80%;
  font-family: 'Source Serif Pro', monospace;
}

.texto_post h5 a{
  border-bottom: 3px solid #2eefa0
}

.texto_post h5 a:hover{
  color: #000;
  text-decoration: none;
}

.texto_post h6{
  color: #4b31dd;
  text-transform: uppercase;
  line-height: 1.5em;
  margin: 35px 0;
  font-size: 1em;
  text-align: center;
}

.texto_post blockquote{
  font-style: italic;
  font-size: 1.3em !important;
  border-left: 4px solid #2eefa0;
  padding-left: 10px;
  max-width: 100% !important;
}

.texto_post blockquote ul{
  padding-left: 0;
  max-width: 70%
}

.texto_post blockquote li{
  font-style: normal;
  font-weight: 700;
  font-size: 0.7em !important;
  list-style-type: none;
}

figcaption{
  font-weight: 300 !important;
  font-size: 0.9em;
  margin-top: -35px;
  margin-bottom: 30px;
  width: 95%;
  font-style: italic;
}

blockquote.twitter-tweet {
  display: inline-block;
  font-family: "Helvetica Neue", Roboto, "Segoe UI", Calibri, sans-serif;
  font-size: 12px;
  font-weight: bold;
  line-height: 16px;
  border-color: #eee #ddd #bbb;
  border-radius: 5px;
  border-style: solid;
  border-width: 1px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.15);
  margin: 10px 5px;
  padding: 0 16px 16px 16px;
  max-width: 468px;
}

blockquote.twitter-tweet p {
  font-size: 16px;
  font-weight: normal;
  line-height: 20px;
}

blockquote.twitter-tweet a {
  color: inherit;
  font-weight: normal;
  text-decoration: none;
  outline: 0 none;
}

blockquote.twitter-tweet a:hover,
blockquote.twitter-tweet a:focus {
  text-decoration: underline;
}

.sidebar-left .main{
  float:right;
}
.sidebar-left .sidebar{
  float:left;
}

.sidebar-right .main{
  float:left;
}

.sidebar-right .sidebar{
  margin: 30px 0 50px 0;
  float:right;
  border-radius: 5px;
  padding: 0 20px 20px;
}

.feature_credito{
  font-size: .8em;
  margin-right: 5px;
  margin-top: 0;
  float: right;
}

.box_conteudo{
  margin-top: 50px;
}

hr {
  height: 1px;
  background-color: #4b31dd;
  width: 50%;
  text-align: center;
  margin: 50px auto;
}

.tags{
  color: #4b31dd;
  text-transform: uppercase;
  line-height: 1.5em;
  margin: 35px 0;
  font-size: 1em;
  text-align: center;
}

/* Responsivo */

@media(max-width:1199px) {
    .sidebar-left .main{
      float:left;
    }
    .sidebar-left .sidebar{
      float:left;
    }

    .sidebar-right .main{
      float:left;
    }
    .sidebar-right .sidebar{
      float:left;
    }

}

/* Responsividade */
@media(max-width:767px) {
    .masthead {
      background-size: cover;
      background-position: center;
      height: 300px
    }

    .sidebar-right .sidebar{
      width: 90% !important;
      float: left !important;
      margin-top: 20px !important;
      border: 0px !important;
    }

    .post-heading h1{
      text-transform: uppercase;
      font-size: 2.3em;
      font-weight: 700;
    }

    h2.subheading {
      font-weight: 400;
      color: #4b31dd;
      font-size: 1.2em;
      line-height: 1.2em;
      width: 90%
    }
    .arquivado{
      font-size: 0.85em
    }

    .creditos_alt{
      font-size: 0.9em
    }

    .box_conteudo{
      margin-top: 20px;
    }

    .sidebar-right .sidebar{
      margin: 30px 0 30px 0;
      float:right;
      border-radius: 5px;
      padding: 0 20px 20px;
    }

}

table {
  border-collapse: collapse;
  width: 95%
}

table, th, td {
  border: 1px solid #333333;
  padding: 5px;
  text-align: center;
  margin-bottom: 30px
}

th{
  background-color: #4b31dd;
  color: #fff
}

td{
  font-weight: 400;
}

/* BOX EXPLICATIVO */
.popover__title {
  text-align: left;
}

.popover__wrapper {
  position: relative;
  margin-top: 1.5rem;
  display: inline-block;
}
.popover__content {
  opacity: 0;
  visibility: hidden;
  position: absolute;
  font-size: 0.8em;
  transform: translate(0, 10px);
  background-color: #bfbfbf;
  padding: 1.5rem;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
  width: auto;
  min-width: 300px;
}
.popover__content:before {
  position: absolute;
  z-index: -1;
  content: "";
  right: calc(50% - 10px);
  top: -8px;
  border-style: solid;
  border-width: 0 10px 10px 10px;
  border-color: transparent transparent #bfbfbf transparent;
  transition-duration: 0.3s;
  transition-property: transform;
}
.popover__wrapper:hover .popover__content {
  z-index: 10;
  opacity: 1;
  visibility: visible;
  transform: translate(0, -20px);
  transition: all 0.5s cubic-bezier(0.75, -0.02, 0.2, 0.97);
}
.popover__message {
  text-align: left;
}

.popover__message strong{
  color: #4b31dd;
}
