---
layout: home
title: 'Núcleo Jornalismo'
desc: 'Investigações sobre debates, gastos públicos e políticas públicas'
link: 'impacto'
subTitle: '<div id="revue-embed">
  <form action="https://www.getrevue.co/profile/nucleo/add_subscriber" method="post" id="revue-form" name="revue-form"  target="_blank">
  <div class="revue-form-group">
    <label for="member_email">receba novidades</label> <br />
    <input class="revue-form-field" placeholder="preencha seu email..." type="email" name="member[email]" id="member_email">
  </div>
  <div class="revue-form-actions">
    <input type="submit" value="clique aqui para receber" name="member[subscribe]" id="member_submit">
  </div>
  </form>
</div>'
---

{% for post in site.posts limit : 5 %}

        <article class="post-preview">
          <a href="{{ post.url | prepend: site.baseurl | replace: '//', '/' }}">
            <h2 class="post-title">{{ post.title }}</h2>
            {% if post.subtitle %}
            <h3 class="post-subtitle">{{ post.subtitle }}</h3>
            {% else %}
            <h3 class="post-subtitle">{{ post.excerpt | truncatewords: 15 }}</h3>
            {% endif %}
          </a>
          <p class="post-meta">
          </p>
        </article>

        <hr>

        {% endfor %}

        <!-- Pager -->
        <div class="clearfix">
          <a class="btn btn-primary float-right" href="{{"/posts" | relative_url }}">View All Posts &rarr;</a>
        </div>
