---
layout: home
title: 'Núcleo Jornalismo'
desc: 'Análises sobre debates, gastos públicos e políticas públicas'
subtitle: 'Análises sobre debates, gastos públicos e políticas públicas'
link: 'impacto'
subTitle: '<div id="revue-embed">
  <form action="http://sendy.voltdata.info/subscribe" method="POST" accept-charset="utf-8">
  <div class="revue-form-group">
    <label for="email">receba novidades por email</label> <br />
    <input style="max-width:100%" class="revue-form-field" type="email" name="email" id="email" placeholder="preencha seu email..." />
  </div>
  <div class="revue-form-actions">
    <input type="hidden" name="list" value="qvzIuBk9fu5Fm8927JPaCaWQ"/>
    <input type="hidden" name="subform" value="yes"/>
    <input type="submit" name="submit" id="submit" value="clique aqui para receber" style="max-width:100%"/>
  </div>
  </form>
</div>'
---

{% for post in site.posts limit : 5 %}

        <article class="post-preview">
          <a href="{{ post.url | prepend: site.baseurl | replace: '//', '/' }}">
            <h2 class="post-title">{{ post.title }}</h2>
            {% if post.subtitle %}
            <h3 class="post-subtitle">{{ post.subtitle }}</h3>
            {% else %}
            <h3 class="post-subtitle">{{ post.excerpt | truncatewords: 15 }}</h3>
            {% endif %}
          </a>
          <p class="post-meta">
          </p>
        </article>

        <hr>

        {% endfor %}

        <!-- Pager -->
        <div class="clearfix">
          <a class="btn btn-primary float-right" href="{{"/posts" | relative_url }}">View All Posts &rarr;</a>
        </div>
