---
layout: posts
title: 'Jogo rápido'
desc: 'Notas curtas e análises rápidas do Núcleo Jornalismo'
tagline: CURTAS
icone: '<i class="fas fa-basketball-ball fa-lg"></i>'
---

<div class="container" style="padding: 0 5% 50px;max-width:850px">
          <div class="row">

            {% assign posts = site.posts | where_exp: "post", "post.tipo == 'curtas'"  %}

            {% for post in posts offset:0 limit: 30 %}

        <div class="col-sm-6 col-lg-6">
                <a href="{{ post.url | prepend: site.baseurl | replace: '//', '/' }}">
                  <h3 class="page-tttt">{{ post.titulo_redes }}</h3></a>
                  <br />
                  <span class="arquivado" style="color:#000">

                    <i class="far fa-calendar-alt"></i> {{ post.date | date: '%d/%m/%Y' }}  <!-- &middot; Arquivado em <a href="{{ post.categories }}"><span class="spancateg">{% if post.cat %}{{ post.cat }} {% else %} {{ post.categories }}{% endif %}</span></a> -->

                  </span>
                  <br /><br />
          </div>

                {% endfor %}
                </div>


  </div>
