    <!-- About Section -->
    <section id="about" class="container content-section text-center">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
              <br/><br/>
              <h2>Sobre o Núcleo</h2>
              <br/>
                <p>O <strong>Núcleo</strong> é um veículo jornalístico fundado em janeiro de 2020, com a missão de produzir investigações a partir de dados públicos e trazer mais transparência ao governo, ao debate político e a políticas públicas, em diferentes esferas e localidades. O trabalho é guiado, principalmente, pelo rigor de métodos científicos e em entregar o melhor do jornalismo investigativo e visual.</p>
                <p>A iniciativa é liderada pela agência <a href="https://voltdata.info" target="_blank">Volt Data Lab</a>.</p> <br />
                <br/> <p>
                  COMPARTILHE: </p>
                <ul class="share-buttons">
                <li><a href="https://www.facebook.com/sharer/sharer.php?u=http%3A%2F%2Fnucleo.jor.br&quote=N%C3%BAcleo%20Jornalismo" target="_blank" title="Share on Facebook"><i class="fab fa-facebook-square fa-2x" aria-hidden="true"></i><span class="sr-only"></span></a></li>
                <li><a href="whatsapp://send?text=Núcleo, jornalismo, dados e transparência - https://nucleo.jor.br" target="_blank" title="Compartilhar no Facebook"><i class="fab fa-whatsapp-square fa-2x" aria-hidden="true"></i><span class="sr-only"></span></a></li>
                <li><a href="https://twitter.com/intent/tweet?source=http%3A%2F%2Fnucleo.jor.br&text=N%C3%BAcleo%20Jornalismo:%20http%3A%2F%2Fnucleo.jor.br&via=nucleojornalismo" target="_blank" title="Tweet"><i class="fab fa-twitter-square fa-2x" aria-hidden="true"></i><span class="sr-only">Tweet</span></a></li>
                <li><a href="http://www.reddit.com/submit?url=http%3A%2F%2Fnucleo.jor.br&title=N%C3%BAcleo%20Jornalismo" target="_blank" title="Compartilhe no Reddit"><i class="fab fa-reddit-square fa-2x" aria-hidden="true"></i><span class="sr-only"></span></a></li>
                <li><a href="http://www.linkedin.com/shareArticle?mini=true&url=http%3A%2F%2Fnucleo.jor.br&title=N%C3%BAcleo%20Jornalismo&summary=N%C3%BAcleo%20%C3%A9%20site%20de%20jornalismo%20que%20busca%20trazer%20transpar%C3%AAncia%20para%20informa%C3%A7%C3%B5es%2C%20debates%20e%20pol%C3%ADticas%20p%C3%BAblicas&source=http%3A%2F%2Fnucleo.jor.br" target="_blank" title="Compartilhe no LinkedIn"><i class="fab fa-linkedin fa-2x" aria-hidden="true"></i><span class="sr-only"></span></a></li>
                <li><a href="mailto:?subject=N%C3%BAcleo%20Jornalismo&body=N%C3%BAcleo%20%C3%A9%20site%20de%20jornalismo%20que%20busca%20trazer%20transpar%C3%AAncia%20para%20informa%C3%A7%C3%B5es%2C%20debates%20e%20pol%C3%ADticas%20p%C3%BAblicas:%20http%3A%2F%2Fnucleo.jor.br" target="_blank" title="Enviar email"><i class="fa fa-envelope-square fa-2x" aria-hidden="true"></i><span class="sr-only"></span></a></li>
              </ul>
              </div>

        </div>
    </section>
<div id='missao'> </div>
