    <!-- About Section -->
    <section id="about" class="container content-section text-center">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
              <br/><br/>
              <h2>Sobre o Núcleo</h2>
              <br/>
                <p>O <strong>NÚCLEO</strong> é um projeto jornalístico ainda em fase de concepção. O objetivo do projeto é produzir investigações a partir de dados públicos, a fim de trazer mais conformidade e transparência ao governo, ao de bate e a políticas públicas, em diversas esferas e localidades. O trabalho será guiado, principalmente, pelo rigor jornalístico e científico, e em entregar o melhor do jornalismo investigativo e visual.</p>
                <p>A iniciativa é liderada pela agência <a href="https://voltdata.info" target="_blank">Volt Data Lab</a>.</p>
                <br/>
              </div>
        </div>
    </section>
