<div style="margin: 30px auto;max-width:320px; padding: 25px;border:1px solid #f33872;">
<form action="https://sendy.voltdata.info/subscribe" method="POST" accept-charset="utf-8">
  <div class="revue-form-group">
    <h6>TODA QUINTA, RECEBA NOSSAS REPORTAGENS NO SEU EMAIL</h6> <br />
		<h6><small style="font-size:0.85em"><a href="{{ site.baseurl }}/newsletters" target="_blank" style="color:#0fb872">Conheça nossas newsletters</a></small></h6>
		<br />
   <input style="max-width:100%" class="revue-form-field" type="email" name="email" id="email" placeholder="EMAIL..."/>
<br/>
<!--<input style="max-width:100%" class="revue-form-field" type="text" name="name" id="name" placeholder="NOME..." style="max-width:100%"/>-->
</div>
<div class="revue-form-actions">
  <input type="hidden" name="list" value="p3ny3ldu9NKbwxDmsUDC1g"/>
  <input type="hidden" name="subform" value="yes"/>
  <input style="max-width:100%" type="submit" name="submit" id="submit" value="Quero receber!"/>
  </div>
  <span style="font-size:0.6em;float:right;"><a href="{{ site.baseurl }}/privacidade">Política de privacidade</a></span>

</form> <br />
</div>
