<div style="margin: 30px auto;max-width:320px; padding: 25px;border:0px solid #f33872;">
  <label style="font-size:1em; text-transform: uppercase">Tá osso acompanhar as redes sociais? Temos a solução: receba o Garimpo. É de graça. <br />
  <small style="font-weight: 300;font-size:0.7em"><a href="{{ site.baseurl }}/newsletters">Conheça nossas newsletters</a></small></label>
  <div id="newsletter_page" style="margin-top:10px">
  <form action="https://sendy.voltdata.info/subscribe" method="POST" accept-charset="utf-8">
    <input style="width:65%" class="revue-form-field" type="email" name="email" id="email" placeholder="EMAIL"/>
     <div class="footer-form-actions">
       <input type="hidden" name="list" value="v5zrQ3RithV9C1HMZZgCeg"/>
       <input type="hidden" name="subform" value="yes"/>
       <input style="padding-left:12px;padding-right:12px" type="submit" name="submit" id="submit" value="Receber"/>
       </div>
  <!--<input style="max-width:100%" class="revue-form-field" type="text" name="name" id="name" placeholder="NOME..." style="max-width:100%"/>-->

  </form>
  </div>
</div>
