<small style="font-weight:300;color: #9b9b9b;font-family: 'Roboto Mono', monospace">Publicamos
{% assign counter = 0 %}
{% for post in site.posts %}
  {% assign thisyear = post.date | date: "%Y" %}
  {% assign prevyear = post.previous.date | date: "%Y" %}
  {% assign counter = counter | plus: 1 %}
  {% if thisyear != prevyear %}
    {{ counter }} matérias em {{ thisyear }} |
    {% assign counter = 0 %}
  {% endif %}
{% endfor %}
<a href="{{"/posts" | relative_url }}"><i class="far fa-list-alt"></i> &rarr;</a>
</small>
