
<!-- índice simples de matérias  -->
<div style="margin-top:20px">


  <h5 class="chapeu"><i class="fas fa-compress-alt"></i> JOGO RÁPIDO</h5>
  <br /><br />
          <div class="row">

            {% for post in site.posts limit:4 %}
            {% if post.tipo contains 'curtas' %}

        <div class="col-sm-3 col-lg-3" style="min-height:50px">
                <a href="{{ post.url | prepend: site.baseurl | replace: '//', '/' }}">
                  <h3 class="page-tttt">{{ post.titulo_redes }}</h3></a>
                  <br />
                  <span class="arquivado" style="color:#000">

                    <i class="far fa-calendar-alt"></i> {{ post.date | date: '%d/%m/%Y' }}  <!-- &middot; Arquivado em <a href="{{ post.categories }}"><span class="spancateg">{% if post.cat %}{{ post.cat }} {% else %} {{ post.categories }}{% endif %}</span></a> -->

                  </span>
          </div>
                {% endif %}
                {% endfor %}
                </div>
                <h5 class="arquivado"><a href="{{ site.baseurl }}/curtas">Acesse todos os curtas >></a></h5>

  </div>

<style>
  .row [class*='col-'] {
  background-clip: content-box;
  min-height: 120px;
  margin-bottom: 10px;
}

.tall {
  height: 160px;
}
.taller {
  height: 200px;
}

</style>

<script type="text/javascript">
  $('.row').masonry({
  itemSelector : '.col-xs-6'
});
</script>
