<!-- Footer -->
<footer>
    <div class="container">
        <div class="row">
            <div class="col-lg-7">
                  <label style="font-size:1em; text-transform: uppercase">Receba os Despachos do Núcleo, <br />toda quinta-feira à tarde. <br />
                  <small style="font-weight: 300"><a href="{{ site.baseurl }}/newsletters">Conheça nossas newsletters</a></small></label>
                  <div id="newsletter_page" style="margin-top:10px">
                  <form action="https://sendy.voltdata.info/subscribe" method="POST" accept-charset="utf-8">
                    <input style="width:40%" class="revue-form-field" type="email" name="email" id="email" placeholder="EMAIL"/>
                     <div class="footer-form-actions">
                       <input type="hidden" name="list" value="ntTZYrZ892fUdG4t9EX1OtdQ"/>
                       <input type="hidden" name="subform" value="yes"/>
                       <input type="submit" name="submit" id="submit" value="Receber"/>
                       </div>
                  <!--<input style="max-width:100%" class="revue-form-field" type="text" name="name" id="name" placeholder="NOME..." style="max-width:100%"/>-->

                  </form>
                  </div>

                  <br />
                <ul class="list-inline" style="font-size:0.85em; text-transform: uppercase">
                    <!--<li>
                        <a href="{{ site.baseurl }}/">Início</a>
                    </li>
                    <li class="footer-menu-divider">&sdot;</li>-->
                    <li>
                        <a href="{{ site.baseurl }}/sobre">Sobre</a>
                    </li>
                    <li class="footer-menu-divider">&sdot;</li>
                    <li>
                        <a href="{{ site.baseurl }}/impacto">Impacto</a>
                    </li>
                    <li class="footer-menu-divider">&sdot;</li>
                    <li>
                        <a href="{{ site.baseurl }}/privacidade">Privacidade</a>
                    </li>
                    <li class="footer-menu-divider">&sdot;</li>
                    <li>
                        <a href="{{ site.baseurl }}/en">English</a>
                    </li>
                </ul>

            </div>
            <div class="col-md-4" style="font-weight: 300; max-width: 390px">
                <small style="font-size:0.75em">{{ site.credits }}</small>

                <ul class="list-inline " >
                  <br />
                  {% for social in site.social %}
                  <li>
                    <a href="{{ social.url }}" style="border:0px"><i class="fab fa-{{ social.title }} fa-lg"></i> <span class="network-name"></span></a>
                  </li>
                  {% endfor %}
                  <li>
                    <a href="{{ site.email }}" style="border:0px"><i class="fa fa-envelope fa-lg" aria-hidden="true"></i> <span class="network-name"></span></a>
                  </li>
                </ul>
                <p class="copyright text-muted small"><img src="{{site.baseurl}}/img/landing-nucleo_logo-header.png" width="130px" style="margin:0" /></p>
                <!-- /.banner -->

            </div>
        </div>
    </div>
</footer>
