<!-- Footer -->
<footer>
    <div class="container">
        <div class="row">
            <div class="col-md-8">
              <!--
                <ul class="list-inline">
                    <li>
                        <a href="{{ site.baseurl }}/#home">Home</a>
                    </li>
                    <li class="footer-menu-divider">&sdot;</li>
                    <li>
                        <a href="{{ site.baseurl }}/#about">Sobre</a>
                    </li>
                    <li class="footer-menu-divider">&sdot;</li>
                    <li>
                        <a href="{{ site.baseurl }}/portfolio">Portfólio</a>
                    </li>
                </ul>
                -->
                <p class="copyright text-muted small"><img src="{{site.baseurl}}/img/landing-nucleo_logo+tagline.png" width="200px" /></p>
            </div><br />
            <div class="col-md-4" style="font-weight: 300">
                {{ site.credits }}
            </div>
        </div>
    </div>
</footer>
