<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-104963816-3"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-104963816-3');
</script>
<script>
  gtag('event','100%', {
'event_category': 'NTG article milestone',
'event_label': '{{ page.title }}',
'event_value': 100 ,
'non_interaction' : true
});
</script>
<script>
  gtag('event','75%', {
'event_category': 'NTG article milestone',
'event_label': '{{ page.title }}',
'event_value': 75 ,
'non_interaction' : true
});
</script>
<script>
  gtag('event','50%', {
'event_category': 'NTG article milestone',
'event_label': '{{ page.title }}',
'event_value': 50 ,
'non_interaction' : true
});
</script>
<script>
  gtag('event','25%', {
'event_category': 'NTG article milestone',
'event_label': '{{ page.title }}',
'event_value': 25 ,
'non_interaction' : true
});
</script>
