<section id="home">
<!-- Header -->
	<div class="intro-header">

		<div class="container">

			<div class="row">
				<div class="col-lg-12">
					<div class="intro-message">
						<h2>{{ page.desc }}</h2>
						<h3>{{ page.subTitle }}</h3>
						<ul class="list-inline intro-social-buttons"> <br />
							{% for social in site.social %}
							<li>
								<a href="{{ social.url }}" target="_blank"><i class="fab fa-{{ social.title }} fa-lg"></i> <span class="network-name">{{ social.title }}</span></a>
							</li>
							{% endfor %}
						</ul><br />
						<a class="btn" href="/impacto">Veja nosso impacto</a> <br />
            <a href="{{ page.direct }}"><!--<i class="fa fa-angle-down fa-4x" style="color:#4b31dd"></i>--></a>
					</div>
				</div>
			</div>
		</div>
		<!-- /.container -->

	</div>
	<!-- /.intro-header -->
</section>
