<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="{{ site.description }}">
    <meta name="author" content="{{ site.author }}">
    <meta name="robots" content="index, follow" />
    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
    <link rel="icon" href="/favicon.ico" type="image/x-icon">

    <title>{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}</title>

    <!-- Bootstrap Core CSS -->
    <link href="{{site.baseurl}}/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="{{site.baseurl}}/css/landing-page.css" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="{{site.baseurl}}/font-awesome-4.1.0/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href="{{site.baseurl}}/font-awesome-5.12.0/css/all.css" rel="stylesheet" type="text/css">

    <link href="https://fonts.googleapis.com/css?family=Barlow:300,400,500,700|Days+One|Roboto+Mono|Source+Serif+Pro:400,700&display=swap" rel="stylesheet">

    <meta name="keywords" content="jornalismo, jornalismo de dados, análise de dados, transparêcia pública, políticas públicas, gastos públicos"/>
    <meta property="og:site_name" content="Núcleo Jornalismo">
    <meta property="og:title" content="{% if page.title %}{{ page.title }}{% else %}Núcleo Jornalismo{% endif %}" />
    <meta property="og:description" content="{% if page.title %} {{ page.desc }} {% else %} Investigações a partir de dados públicos {% endif %}" />

    <!-- FACEBOOK -->
    <meta property="og:image" content="{% if page.background %}https://nucleo.jor.br/img/{{ page.background }}{% else %}https://nucleo.jor.br/img/landing-nucleo_facebook-header_f.png{% endif %}" />
    <meta property="og:image:type" content="image/jpg" />
    <meta property="og:image:width" content="1200" />
    <meta property="og:image:height" content="630" />

    <!-- Whatsapp -->
    <meta property="og:image" content="{% if page.background %}https://nucleo.jor.br/img/{{ page.background }}{% else %}https://nucleo.jor.br/img/landing-nucleo_whatsapp-shareimg_f.png{% endif %}" />
    <meta property="og:image" content="" />
    <meta property="og:image:type" content="image/jpg" />
    <meta property="og:image:width" content="300" />
    <meta property="og:image:height" content="300" />

    <!-- Twitter -->
    <meta name="twitter:card" content="summary" />
    <meta name="twitter:site" content="@nucleojor" />
    <meta name="twitter:creator" content="@nucleojor" />
    <meta name="twitter:image" content="{% if page.background %}https://nucleo.jor.br/img/{{ page.background }}{% else %}https://nucleo.jor.br/img/landing-nucleo_facebook-header_f.png{% endif %}">

    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-104963816-3"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'UA-104963816-3');
    </script>

</head>
