<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="{{ site.description }}">
    <meta name="author" content="{{ site.author }}">
    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
    <link rel="icon" href="/favicon.ico" type="image/x-icon">

    <title>{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}</title>

    <!-- Bootstrap Core CSS -->
    <link href="{{site.baseurl}}/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="{{site.baseurl}}/css/landing-page.css" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="{{site.baseurl}}/font-awesome-4.1.0/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Fira+Mono:400,700|Noto+Sans:400,700|Share+Tech+Mono&display=swap" rel="stylesheet">

    <meta property="og:site_name" content="Núcleo Jornalismo">
    <meta property="og:title" content="Núcleo Jornalismo" />
    <meta property="og:description" content="Núcleo é um site de jornalismo que busca trazer transparência para informações, debates e políticas públicas, sempre com dados e códigos abertos" />
    <meta property="og:url" content="https://nucleo.jor.br" />

    <!-- FACEBOOK -->
    <meta property="og:image" content="https://raw.githubusercontent.com/voltdatalab/nucleo-landing/gh-pages/img/nucleo_social.jpg" />
    <meta property="og:image:type" content="image/jpg" />
    <meta property="og:image:width" content="1200" />
    <meta property="og:image:height" content="630" />

    <!-- Whatsapp -->
    <meta property="og:image" content="https://raw.githubusercontent.com/voltdatalab/nucleo-landing/gh-pages/img/nucleo_wa.jpg" />
    <meta property="og:image:type" content="image/jpg" />
    <meta property="og:image:width" content="300" />
    <meta property="og:image:height" content="300" />

    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-104963816-3"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'UA-104963816-3');
    </script>

</head>
