<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="{{ site.subtitle_redes }}">
    <meta name="robots" content="index, follow" />
    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
    <link rel="icon" href="/favicon.ico" type="image/x-icon">

    <title>{% if post.title %}{{ post.title }}{% else %}{{ site.title }}{% endif %}</title>

    <!-- Bootstrap Core CSS -->
    <link href="{{site.baseurl}}/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="{{site.baseurl}}/css/landing-page.css" rel="stylesheet">
    <link href="{{site.baseurl}}/css/post.css" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="{{site.baseurl}}/font-awesome-4.1.0/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href="{{site.baseurl}}/font-awesome-5.12.0/css/all.css" rel="stylesheet" type="text/css">

    <link href="https://fonts.googleapis.com/css?family=Barlow:400,500,700|Days+One|Roboto+Mono|Source+Serif+Pro:400,700&display=swap" rel="stylesheet">

    <meta name="keywords" content="{{ page.tags }}"/>
    <meta property="og:site_name" content="Núcleo Jornalismo">
    <meta property="og:title" content="{{ page.titulo_redes }}" />
    <meta property="og:description" content="{{ page.subtitle_redes }}" />
    <meta property="og:url" content=" {{ page.url }}" />
    <meta property="article:published_time" content="{{ page.date }}">

    <!-- FACEBOOK -->
    <meta property="og:image" content="{% if page.background %} {{ site.baseurl }}{{ page.background }} {% else %} https://nucleo.jor.br/img/landing-nucleo_whatsapp-shareimg_f.png {% endif %}" />
    <meta property="og:image:type" content="image/jpg" />

    <!-- Whatsapp -->
    <meta property="og:image" content="{% if page.background %} {{ page.background }} {% else %} https://nucleo.jor.br/img/landing-nucleo_whatsapp-shareimg_f.png {% endif %}" />
    <meta property="og:image:type" content="image/jpg" />

    <!-- Twitter -->
    <meta name="twitter:card" content="summary" />
    <meta name="twitter:site" content="@nucleojor" />
    <meta name="twitter:creator" content="@nucleojor" />

    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-104963816-3"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'UA-104963816-3');
    </script>

</head>
