<!-- jQuery Version 1.11.0 -->
<script src="{{site.baseurl}}/js/jquery-1.11.0.js"></script>

<!-- Plugin JavaScript -->
    <script src="{{ "{{site.baseurl}}/js/jquery.easing.min.js" | prepend: site.baseurl }}"></script>

<!-- Bootstrap Core JavaScript -->
<script src="{{site.baseurl}}/js/bootstrap.min.js"></script>

<!-- Custom Theme JavaScript -->
<script src="{{site.baseurl}}/js/landing-page.js"></script>

<!-- Busca -->
<script src="{{site.baseurl}}/js/searchjs/lunr.min.js"></script>
<script src="{{site.baseurl}}/js/searchjs/search.js"></script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/2.8.6/umd/popper.min.js" integrity="sha512-jbqFEuvOwSwKyG+POu/cFuLrOaMjIjYO4NVGzs2+h3fidvrLOQ7LLc1yf+LIKmm9SfEP+ZTpbLlu41jmILbRyw==" crossorigin="anonymous"></script>

<!-- faz aparecer os gráficos -->
<script type="text/javascript">
$(document).ready(function() {

    /* Every time the window is scrolled ... */
    $(window).scroll( function(){

        /* Check the location of each desired element */
        $('.img-destak').each( function(i){

            var bottom_of_object = $(this).position().top + $(this).outerHeight();
            var bottom_of_window = $(window).scrollTop() + $(window).height();

            /* If the object is completely visible in the window, fade it it */
            if( bottom_of_window > bottom_of_object ){

                $(this).animate({'opacity':'1'},230);

            }

        });

    });

});


</script>

<!-- NOVO MENU -->
<script type="text/javascript">
  var toggles = document.querySelectorAll(".c-hamburger");

for (var i = toggles.length - 1; i >= 0; i--) {
  var toggle = toggles[i];
  toggleHandler(toggle);
};

function toggleHandler(toggle) {
  toggle.addEventListener("click", function(e) {
    e.preventDefault();
    if (this.classList.contains("is-active") === true) {
      this.classList.remove("is-active");
      $('.open').removeClass('oppenned');
    } else {
      this.classList.add("is-active");
      $(".open").addClass('oppenned');
    }
  });
}
$(".sub-menu li a").click(function(event) {
  $(".open").removeClass('oppenned');
  $(".c-hamburger").removeClass('is-active');
});
</script>
