{% include google_tag_manager_body.html %}

<!-- Navigation -->
<nav class="navbar navbar-default" role="navigation">
    <div class="container">

        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header page-scroll ">
          <button type="button" class="collapsed c-hamburger c-hamburger--htx hide-mobile burg-nav-mobile" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false" aria-controls="navbar">
              <span class="sr-only">Navegação mobile</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
          </button>
            <a class="navbar-brand page-scroll" href="{{ site.baseurl }}/"><img id="logotipo" src="{{site.baseurl}}/img/landing-nucleo_logo-header.png" width="240px"/> </a>

        </div>
        <div class="navbar-collapse collapse">
          <ul class="nav navbar-nav navbar-right">
            <li>
                <a href="{{ site.baseurl }}/apoie"><span class="btn-apoie">APOIE O NÚCLEO</span></a>
            </li>
            <li>
                <a href="{{ site.baseurl }}/newsletters">NEWSLETTERS</a>
            </li>
            <li class="dropdown">
              <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"
              style="background:none;padding:0;"
              ><i class="fas fa-search fa-lg"></i> <span class="caret"></span></button>
                  <ul class="dropdown-menu" style="list-style-type:none;margin:0;padding:0;border-radius:5px;">
                        <li>
                          <form action="{{ site.baseurl }}/busca.html" method="get">
                          <input type="text" id="search-box" name="query" placeholder="busca por palavra" style="font-family: 'Roboto Mono', monospace;">
                          <!-- <input type="submit" value="search"> -->
                          </form>
                        </li>
                  </ul>
              </li>
              <li>
                <button class="c-hamburger c-hamburger--htx" style="float:right">
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
                                </button>
                </li>
              </ul>

          </div>
        <!-- Collect the nav links, forms, and other content for toggling -->
        <div type="button" class="navbar-collapse collapse" id="bs-example-navbar-collapse-1">


            <ul class="nav navbar-nav navbar-right">

                <nav class="sub-menu open">
                  <ul class="list-unstyled">
                      <li class="nav-item-header">SEÇÕES</li>
                        {% for item in site.data.nav_secoes %}
                            <li>
                              {% if item.externo %}
                              <a href="{{ item.link }}" target="_blank">{{ item.nome }}</a>
                              {% else %}
                              <a href="{{ site.baseurl }}/{{ item.link }}">{{ item.nome }}</a>
                                  {% if item.desc %}
                                  <span class="item-nav-desc">({{ item.desc }})</span>
                                  {% endif %}
                              {% endif %}
                            </li>
                        {% endfor %}

                        <li class="nav-item-header">APLICAÇÕES</li>
                        {% for item in site.data.nav_apps %}
                            <li>
                              {% if item.externo %}
                              <a href="{{ item.link }}" target="_blank">{{ item.nome }}</a>
                              {% else %}
                              <a href="{{ site.baseurl }}/{{ item.link }}">{{ item.nome }}
                                {% if item.desc %}
                                <span class="item-nav-desc">({{ item.desc }})</span>
                                {% endif %}
                              </a>
                              {% endif %}
                            </li>
                        {% endfor %}

                        <li class="divisor"></li>
                        <li class="nav-item-header">NEWSLETTERS</li>
                        {% for item in site.data.nav_newsletters %}
                            <li>
                              {% if item.externo %}
                              <a href="{{ item.link }}" target="_blank">{{ item.nome }}</a>
                              {% else %}
                              <a href="{{ site.baseurl }}/{{ item.link }}">{{ item.nome }}
                                {% if item.desc %}
                                <span class="item-nav-desc">({{ item.desc }})</span>
                                {% endif %}
                              </a>
                              {% endif %}
                            </li>
                        {% endfor %}

                      <li class="nav-item-header">COMUNIDADE</li>
                        {% for item in site.data.nav_comunidade %}
                            <li>
                              {% if item.externo %}
                              <a href="{{ item.link }}" target="_blank">{{ item.nome }}</a>
                              {% else %}
                              <a href="{{ site.baseurl }}/{{ item.link }}">{{ item.nome }}</a>
                                  {% if item.desc %}
                                  <span class="item-nav-desc">({{ item.desc }})</span>
                                  {% endif %}
                              {% endif %}

                            </li>
                        {% endfor %}

                      <li class="nav-item-header">INSTITUCIONAL</li>
                        {% for item in site.data.nav_institucional %}
                            <li>
                              {% if item.externo %}
                              <a href="{{ item.link }}" target="_blank">{{ item.nome }}</a>
                              {% else %}
                              <a href="{{ site.baseurl }}/{{ item.link }}">{{ item.nome }}</a>
                                  {% if item.desc %}
                                  <span class="item-nav-desc">({{ item.desc }})</span>
                                  {% endif %}
                              {% endif %}
                            </li>
                        {% endfor %}
                  </ul>
                </nav>
            </ul>
        </div>
        <!-- /.navbar-collapse -->
    </div>
    <!-- /.container -->
</nav>
