<!-- Navigation -->
<nav class="navbar navbar-default" role="navigation">
    <div class="container">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header page-scroll">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Navegação mobile</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand page-scroll" href="{{ site.baseurl }}/"><img id="logotipo" src="../img/landing-nucleo_logo+tagline.png" width="220px"/> </a>
        </div>
        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav navbar-right">
              <li style="padding-top:12px">
                  <form action="/busca.html" method="get">
                  <i class="fas fa-search"></i>
                  <input type="text" id="search-box" name="query" placeholder="busca por palavra" style="font-family: 'Roboto Mono', monospace;">
                  <!-- <input type="submit" value="search"> -->
                </form>
                </li>
                <!--
            	  <li>
                    <a href="{{ site.baseurl }}/sobre">SOBRE</a>
                </li>
                <li>
                    <a href="{{ site.baseurl }}/impacto">IMPACTO</a>
                </li>
                -->
                <li>
                    <a href="{{ site.baseurl }}/newsletter">NEWSLETTERS</a>
                </li>
                <li>
                    <a href="{{ site.baseurl }}/ideias">IDEIAS</a>
                </li>
                <!--
                <li>
                    <a href="https://twitter.com/nucleojor"><i class="fab fa-twitter"></i> <span class="network-name"></span></a>
                </li>

                {% for social in site.social %}
                <li>
                  <a href="{{ social.url }}" style="border:0px"><i class="fab fa-{{ social.title }} fa-lg"></i> <span class="network-name"></span></a>
                </li>
                {% endfor %}

                <li>
                    <a href="{{ site.baseurl }}/en"><small style="font-size:0.7em">ENGLISH <i class="fas fa-flag-usa"></i></small></a>
                </li> -->
            </ul>
        </div>
        <!-- /.navbar-collapse -->
    </div>
    <!-- /.container -->
</nav>
