<section id="services">
<!-- Page Content -->
{% for dado in site.data.portfolio %}
    <div class="content-section-a">

      <div class="container">
                <div class="row">
                <div class="col-lg-5">
                <!--<img class="img-responsive" src="img/services/{{ post.img }}" alt="">-->
                <h2 class="page-tp">{{ dado.titulo }}</h2>
                <h3 class="lead"><a href="{{ dado.url }}" target="_blank">Acesse o link no {{ dado.site }}</a></h3>
                </div>`
              <div class="col-lg-5" style="float:right">
                  <hr class="section-heading-spacer">
                  <div class="clearfix"></div>
                  <p>{{ dado.descricao }}</p>
              </div>
              </div>

      </div>
    </div>
{% endfor %}
</section>
