<!-- Índice intermediário de destaque -->
<div class="container" style="max-width:850px">
          <div class="row">
          <h5 class="chapeu"><i class="fas fa-layer-group fa-lg"></i> REPORTAGENS ESPECIAIS</h5>
          <br /><br />
{% for post in site.posts offset:0 limit:20 %}
{% if post.tipo contains 'especial' %}
{% unless post.categories contains 'draft' %}
{% unless post.categories contains 'institucional' %}
          <div class="indexpost" style="background: url('../img/{{ site.baseurl }}{{ post.background }}') rgba(0, 0, 0, 0.4);">
                <a href="{{ post.url | prepend: site.baseurl | replace: '//', '/' }}">
                  <h3 class="page-ttt">{{ post.titulo_redes }}</h3></a>
                  <br />
                  <span class="arquivado" style="color:#fff">

                    <i class="far fa-calendar-alt"></i> {{ post.date | date: '%d/%m/%Y' }} &middot; Arquivado em <a href="{{ post.categories }}"><span class="spancateg">{% if post.cat %}{{ post.cat }} {% else %} {{ post.categories }}{% endif %}</span></a>

                  </span><br /><br />

                </div>
                {% endunless %}
                {% endunless %}
                {% endif %}
                {% endfor %}
              </div>

              <hr />
      </div>

<br />
