{% include head_post.html %}

<section id="publicacoes">
{% for post in site.posts limit:1 %}
<br />


  <div
  style="
  max-width:100%;
  padding: 15% 2% 3%;
  margin-top: -20px;
  background-size: cover !important;
  background-position: center center;
  display: block;
  background: url({{ site.baseurl }}{{ post.background }}) rgba(0, 0, 0, 0.4);
  background-blend-mode: multiply;">
        <div class="container" style="min-height: 400px">
                <div class="col-lg-10"><br />
                <a href="{{ post.url | prepend: site.baseurl | replace: '//', '/' }}">
                  <h5 style="color:#fff">MAIS RECENTE</h5>
                  <h2 class="page-tt">{{ post.title }}</h2></a>
                  </div>
                  <br />
                  <div class="col-lg-8">
                  <span class="arquivado" style="color:#fff">

                    {{ post.date | date: '%d/%m/%Y' }} &middot; Arquivado em <a href="{{ post.categories }}"><span style="color:#fff;background-color:#4b31dd">{{ post.categories }}</span></a>

                  </span>
                  <br /><br />
                <a href="{{ post.url | prepend: site.baseurl | replace: '//', '/' }}"><p class="conteudo"><i class="fas fa-long-arrow-alt-right"></i> {{ post.excerpt }}</p></a>
                </div>
                <br />

              </div>
            </div>
      <hr />
{% endfor %}

<!-- Page Content -->
<div class="container" style="padding: 0 5% 0px">
          <div class="row">
{% for post in site.posts offset:1 limit : 12 %}
          <div
          style="
          max-width:100%;
          padding: 15% 2% 3%;
          background-size: cover !important;
          background-position: top;
          display: block;
          background: url({{ site.baseurl }}{{ post.background }}) rgba(0, 0, 0, 0.4);
          background-blend-mode: multiply;
          border-bottom: 2px solid #fff">
                <a href="{{ post.url | prepend: site.baseurl | replace: '//', '/' }}">
                  <h3 class="page-ttt">{{ post.titulo_redes }}</h3></a>
                  <br />
                  <span class="arquivado" style="color:#fff">

                    {{ post.date | date: '%d/%m/%Y' }} &middot; Arquivado em <a href="{{ post.categories }}"><span style="color:#fff;background-color:#4b31dd">{{ post.categories }}</span></a>

                  </span><br /><br />

                </div>
                {% endfor %}
              </div>
      </div>
<!-- <a class="btn btn-primary float-right" href="{{"/posts" | relative_url }}">View All Posts &rarr;</a> -->
</section>

<br /><br /><br />
