<div class="container">
<div class="row">

{% include newsletter_social2.html %}

<hr style="margin: 20px"/>

{% assign top = site.posts | where_exp: "post", "post.tipo != 'curtas'"  %}
{% assign top = top | where_exp: "post", "post.tipo != 'ideias'"  %}
{% for post in top limit:1 offset:0 %}
{% unless post.categories contains 'draft' %}
{% unless post.categories contains 'institucional' %}
<br />
<div class="col-sm-8 col-lg-8">
  <div class="bannerpost" style="background: url('../img/{{ site.baseurl }}{{ post.background }}') rgba(0, 0, 0, 0.4);">
        <div class="container" style="min-height: 400px;">
                <div class="col-sm-6"><br />
                <a href="{{ post.url | prepend: site.baseurl | replace: '//', '/' }}">
                  <h5 class="chapeu"><i class="fas fa-fire-alt"></i> DO FORNO</h5><br /><br />
                  <h2 class="page-tt" style="max-width: 30px;">{{ post.title | append: ''}}</h2></a>
                  <br /> <br />

                  <span class="arquivado" style="color:#fff;font-size:1em !important">

                    <i class="far fa-calendar-alt"></i> {{ post.date | date: '%d/%m/%Y' }}  <!-- &middot; em <a href="{{ post.categories }}"><span class="spancateg">{% if post.cat %}{{ post.cat }} {% else %} {{ post.categories }}{% endif %}</span></a> -->
                  </span>
                <!--<a href="{{ post.url | prepend: site.baseurl | replace: '//', '/' }}"><p class="conteudo"><i class="fas fa-long-arrow-alt-right"></i> {{ post.excerpt }}</p></a>-->
                </div>

              </div>
            </div>
            </div>
{% endunless %}
{% endunless %}
{% endfor %}

{% for post in top offset:1 limit:3 %}
{% unless post.tipo contains 'curtas' %}
{% unless post.categories contains 'draft' %}
{% unless post.categories contains 'institucional' %}
<div class="col-sm-4 col-lg-4">
          <div class="indexpost" style="background: url('../img/{{ site.baseurl }}{{ post.background }}') rgba(0, 0, 0, 0.4);">
                <a href="{{ post.url | prepend: site.baseurl | replace: '//', '/' }}">
                  <h3 class="page-ttt">{{ post.titulo_redes }}</h3></a>
                  <br />
                  <span class="arquivado" style="color:#fff">

                    <i class="far fa-calendar-alt"></i> {{ post.date | date: '%d/%m/%Y' }} <!-- &middot; em <a href="{{ post.categories }}"><span class="spancateg">{% if post.cat %}{{ post.cat }} {% else %} {{ post.categories }}{% endif %}</span></a>-->

                  </span><br /><br />

                </div>
                </div>
                {% endunless %}
                {% endunless %}
                {% endunless %}
                {% endfor %}
</div>
		{% include post_curtas_index.html %}
<hr />
</div>
