<!-- Índice intermediário de destaque -->
<div class="container" style="margin: 0 auto;">
          <div class="row">
          <h5 class="chapeu" style="margin-left: 15px;"><i class="fas fa-star"></i> REPORTAGENS ESPECIAIS</h5>
          <br /><br />

{% assign posts = site.posts | where_exp: "post", "post.tipo == 'especial'"  %}
{% for post in posts offset:0 limit:2 %}
{% unless post.tipo contains 'draft' %}
{% unless post.tipo contains 'institucional' %}
      <div class="col-sm-6 col-lg-6">
          <div class="indexpost" style="background: url('{{ site.baseurl }}/{{ post.image }}') rgba(0, 0, 0, 0.4);background-position: center; /* Center the image */;
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: cover;
  height: 300px;">
                <a href="{{ post.url | prepend: site.baseurl | replace: '//', '/' }}">
                  <h3 class="page-ttt" style="font-size: 1.6em">{{ post.titulo_redes }}</h3></a>
                  <br />
                  <span class="arquivado" style="color:#fff">

                    <i class="far fa-calendar-alt"></i> {{ post.date | date: '%d/%m/%Y' }}  <!-- &middot; Arquivado em <a href="{{ post.categories }}"><span class="spancateg">{% if post.cat %}{{ post.cat }} {% else %} {{ post.categories }}{% endif %}</span></a> -->

                  </span><br /><br />

                </div>
                </div>
                {% endunless %}
                {% endunless %}
                {% endfor %}
              </div>
              <h5 class="arquivado"><a href="{{ site.baseurl }}/especiais">Acesse todos os especiais >></a></h5>
              <hr />
      </div>
