{% include head_post.html %}

{% for post in site.posts limit:1 offset:1 %}
{% unless post.categories contains 'draft' %}
{% unless post.categories contains 'institucional' %}
<br />
  <div class="bannerpost" style="background: url('../img/{{ site.baseurl }}{{ post.background }}') rgba(0, 0, 0, 0.4);">
        <div class="container" style="min-height: 400px;">
                <div class="col-lg-10"><br />
                <a href="{{ post.url | prepend: site.baseurl | replace: '//', '/' }}">
                  <h5 class="chapeu"><i class="fas fa-fire-alt"></i> MAIS RECENTE</h5><br /><br />
                  <h2 class="page-tt">{{ post.title | append: ''}}</h2></a>
                  </div>
                  <br />
                  <div class="col-lg-8">
                  <span class="arquivado" style="color:#fff;font-size:1em !important">

                    <i class="far fa-calendar-alt"></i> {{ post.date | date: '%d/%m/%Y' }} &middot; Arquivado em <a href="{{ post.categories }}"><span class="spancateg">{% if post.cat %}{{ post.cat }} {% else %} {{ post.categories }}{% endif %}</span></a>

                  </span>
                  <br /><br />
                <!--<a href="{{ post.url | prepend: site.baseurl | replace: '//', '/' }}"><p class="conteudo"><i class="fas fa-long-arrow-alt-right"></i> {{ post.excerpt }}</p></a>-->
                </div>
                <br />

              </div>
            </div>
{% endunless %}
{% endunless %}

{% endfor %}

{% include newsletter_social.html %}
