
<!-- índice simples de matérias  -->
<div class="container" style="padding: 0 5% 0px;max-width:850px">

<div style="padding: 0 5% 0px;max-width:850px">
  <h5 class="chapeu"><i class="fas fa-layer-group fa-lg"></i> ARQUIVO</h5>
  <br /><br />
          <div class="row">

{% for post in site.posts offset:7 limit : 30 %}
        <div class="col-sm-6 col-lg-6">
                <a href="{{ post.url | prepend: site.baseurl | replace: '//', '/' }}">
                  <h3 class="page-tttt">{{ post.titulo_redes }}</h3></a>
                  <br />
                  <span class="arquivado" style="color:#000">

                    <i class="far fa-calendar-alt"></i> {{ post.date | date: '%d/%m/%Y' }} &middot; Arquivado em <a href="{{ post.categories }}"><span style="color:#fff;background-color:#4b31dd">{{ post.categories }}</span></a>

                  </span>
                  <br /><br />
          </div>

                {% endfor %}
                </div>
                <a class="btn btn-primary float-right" href="{{"/posts" | relative_url }}"><i class="far fa-list-alt"></i> Ver portfólio &rarr;</a>
              </div>
            </div>


<br /><br /><br />

<style>
  .row [class*='col-'] {
  background-clip: content-box;
  min-height: 120px;
  margin-bottom: 10px;
}

.tall {
  height: 160px;
}
.taller {
  height: 200px;
}

</style>

<script type="text/javascript">
  $('.row').masonry({
  itemSelector : '.col-xs-6'
});
</script>
