
<!-- índice simples de matérias  -->
<div class="container" style="padding: 0 5% 0px;">

  <h5 class="chapeu"><i class="fas fa-layer-group fa-lg"></i> DO ARQUIVO</h5>
  <br /><br />
          <div class="row">
{% for post in site.posts offset:0 limit: 8 %}
        <div class="col-sm-3 col-lg-3" style="max-height:110px" >
                <a href="{{ post.url | prepend: site.baseurl | replace: '//', '/' }}">
                  <h3 class="page-tttt">{{ post.titulo_redes }}</h3></a>
                  <br />
                  <span class="arquivado" style="color:#000">

                    <i class="far fa-calendar-alt"></i> {{ post.date | date: '%d/%m/%Y' }}  &middot; <a href="{{ post.categories }}"><span class="spancateg">{% if post.cat %}{{ post.cat }} {% else %} {{ post.categories }}{% endif %}</span></a>

                  </span>
                  <br /><br />
          </div>
                {% endfor %}
                </div>
                <h5 class="arquivado"><a href="{{ site.baseurl }}/arquivo">Acesse todo o arquivo >></a></h5>

            </div>


<br /><br /><br />

<style>
  .row [class*='col-'] {
  background-clip: content-box;
  margin-bottom: 10px;
}

.tall {
  height: 160px;
}
.taller {
  height: 200px;
}

</style>

<script type="text/javascript">
  $('.row').masonry({
  itemSelector : '.col-lg-3'
});
</script>
