<section id="transparencia_centro">
    <div class="content-section-a">

      <div class="container">
                <div class="row">
                <div class="col-lg-5">
                <!--<img class="img-responsive" src="img/services/{{ post.img }}" alt="">-->
                <h2>Transparência no centro de tudo</h2>
                <div class="lead">Seja reportando sobre instituições, seja mostrando nossa própria iniciativa, a política interna será mostrar como nosso jornalismo é feito.</div>
                </div>
              <div class="col-lg-5" style="float:right"> <br />
                  <p>
                    A diretriz do <strong>Núcleo</strong> é a transparência; principalmente de dados públicos, a partir de investigações, análises e aplicações que informarão e jogarão luz sobre políticas públicas, instituições e acontecimentos políticos e sociais.<br /><br />

                    Para fazer isso bem, a transparência que queremos das instituições também é a que devemos aplicar internamente. Isso significa transparência corporativa (quem nos financia e quem somos) e de processos (como fazemos nosso jornalismo).<br /><br />

                    Alguns pontos colocam o <strong>Núcleo</strong> em um novo patamar de transparência no jornalismo:

                    <ul>
                     <li><p>Referenciamento sistemático de fontes de informação, com descrição e links;</p></li>

                      <li><p>Transparência de políticas públicas;</p></li>

                      <li><p>Explicar <em>por que</em> um assunto é importante e <em>por que</em> seguimos certo caminho.</p></li>

                      </ul>

                  </p>
              </div>
              </div>

      </div>
        <!-- /.container -->

    </div>
</section>
