<section id="missao">
    <div class="content-section-a">

      <div class="container">
                <div class="row">
                <div class="col-sm-5 offset-sm-2 col-md-6 offset-md-0">
                <!--<img class="img-responsive" src="img/services/{{ post.img }}" alt="">-->
                <h2>Fundamentos editoriais</h2>
                <div class="lead">O objetivo do <strong>Núcleo</strong> é investigar e analisar dados relacionados ao impacto da tecnologia na vida das pessoas, com o objetivo de gerar transparência e clareza sobre o que acontece no Brasil e no mundo.</div>
                </div>
                      <div class="col-sm-5 offset-sm-2 col-md-6 offset-md-0"> <br />

                          <h4>  As áreas principais de cobertura são:</h4>
                           <p>
                            <ul>
                             <li><p>Discussões relevantes em redes sociais;</p></li>

                             <li><p>Cibersegurança e privacidade;</p></li>

                             <li><p>Direito Digital e acesso à internet;</p></li>

                              <li><p>Análises do impacto de políticas na sociedade;</p></li>

                              <li><p>Utilização e adoção de novas tecnologias;</p></li>

                              <li><p>Intersecção entre tecnologia, mídia e jornalismo;</p></li>

                              <li><p>Notícias exclusivas sobre tecnologia;</p></li>

                              <li><p>Opinião pontual (embasada em dados ou experiência pessoal).</p></li>
                              </ul>

                          </p>
                      </div>
              </div>

      </div>
        <!-- /.container -->

    </div>
</section>
