<section id="financiamento">
    <div class="content-section-a">

      <div class="container">
                <div class="row">
                <div class="col-sm-5 offset-sm-2 col-md-6 offset-md-0">
                <!--<img class="img-responsive" src="img/services/{{ post.img }}" alt="">-->
                <h2>Financiamento</h2>
                <div class="lead">O <strong>Núcleo</strong> está em busca de financiamento e refinando seu modelo de negócios, a fim de trazer sustentabilidade financeira para o projeto.</div>
                </div>
              <div class="col-sm-5 offset-sm-2 col-md-6 offset-md-0"> <br />
                  <p>
                    Em outubro de 2020, o <strong>Núcleo Jornalismo</strong> foi um dos 10 projetos <a href="https://brasil.googleblog.com/2020/10/conheca-as-startups-de-jornalismo.html" target="_blank">selecionados</a> para o programa Startup Lab de iniciativas jornalísticas promovido pelo Google News Initiative, com apoio financeiro de USD 20.000 e mentoria de negócios.<br /><br />

                    O financiamento para o estágio inicial (desenvolvimento de marca, ferramentas online e captação de recursos) foi custeado pelo <a href="https://voltdata.info" target="_blank">Volt Data Lab</a>, com investimento de R$ 12 mil. <br /><br />

                    O <strong>Núcleo</strong> está em busca de financiadores que tenham interesse em patrocinar nossa missão e tenham apreço pela transparência. É fundamental que possam ter nomes e aportes revelados e que se comprometam com nossos valores de independência editorial. <br /><br />

                    Se você é um financiador em potencial, mande um email para <a href="mailto:nucleo@voltdata.info">nucleo@voltdata.info</a>.

                  </p>
              </div>
              </div>

      </div>
        <!-- /.container -->

    </div>
</section>
