<section id="missao">
    <div class="content-section-a">

      <div class="container">
                <div class="row">
                <div class="col-sm-5 offset-sm-2 col-md-6 offset-md-0">
                <!--<img class="img-responsive" src="img/services/{{ post.img }}" alt="">-->
                <h2>Missão</h2>
                <div class="lead">A missão do <strong>Núcleo</strong> é investigar e analisar dados públicos, com o objetivo de gerar transparência e clareza sobre o que acontece no Brasil.</div>
                </div>
                      <div class="col-sm-5 offset-sm-2 col-md-6 offset-md-0"> <br />
                          <p>
                            Nosso objetivo principal é informar nosso público para conscientizar e gerar ação acerca de temas relevantes para a vida cívica brasileira, pautando o debate público, sempre de olho no potencial para orientar mudanças. <br /><br />

                            As áreas principais de atuação são:

                            <ul>
                             <li><p>Transparência de recursos públicos;</p></li>

                              <li><p>Transparência de políticas públicas;</p></li>

                              <li><p>Análise de redes sociais;</p></li>

                              <li><p>Mídia, tecnologia e segurança da informação;</p></li>

                              <li><p>Meio-ambiente e cidades inteligentes;</p></li>

                              <li><p>Políticas de direitos humanos.</p></li>
                              </ul>

                          </p>
                      </div>
              </div>

      </div>
        <!-- /.container -->

    </div>
</section>
