<section id="financiamento">
    <div class="content-section-a">

      <div class="container">
                <div class="row">
                <div class="col-lg-5">
                <!--<img class="img-responsive" src="img/services/{{ post.img }}" alt="">-->
                <h2>De onde vem o dinheiro?</h2>
                <div class="lead">O <strong>Núcleo</strong> ainda está em busca de financiamento.</div>
                </div>
              <div class="col-lg-5" style="float:right"> <br />
                  <p>
                    O projeto está em estágio inicial, e estamos estudando a viabilidade de nosso modelo de negócio. Também procuramos obter recursos com financiadores diversos para um segundo estágio, de pré-geração de receita, com a finalidade de custear nossas operações por pelo menos um ano --- incluindo produção de conteúdo e desenvolvimento de negócios. <br /><br />

                    O financiamento para o estágio inicial (desenvolvimento de marca, ferramentas online e captação de recursos) é custeado pelo <a href="https://voltdata.info" target="_blank">Volt Data Lab</a>, com investimento de R$ 10 mil. <br /><br />

                    O <strong>Núcleo</strong> está em busca de financiadores que tenham interesse em patrocinar nossa missão e tenham apreço pela transparência. É fundamental que possam ter nomes e aportes revelados e que se comprometam com nossos valores de independência editorial. <br /><br />

                    Se você é um financiador em potencial, mande um email para <a href="mailto:nucleo@voltdata.info">nucleo@voltdata.info</a>.

                  </p>
              </div>
              </div>

      </div>
        <!-- /.container -->

    </div>
</section>
