<section id="funcionamento">
    <div class="content-section-a">

      <div class="container">
                <div class="row">
                <div class="col-sm-5 offset-sm-2 col-md-6 offset-md-0">
                <!--<img class="img-responsive" src="img/services/{{ post.img }}" alt="">-->
                <h2>Nossos canais</h2>
                <div class="lead">No <strong>Núcleo</strong>, todos os dados e códigos que embasarem nossas reportagens, investigações e análises serão abertos, assim como nosso conteúdo.</div>
                </div>
              <div class="col-sm-5 offset-sm-2 col-md-6 offset-md-0"> <br />
                  <p>
                    O jornalismo que publicamos é para todos aqueles que se interessam com as engrenagens que movem os debates em redes sociais, a tecnologia que nos cerca e o funcionamento de governos e de políticas públicas.<br /><br />

                    Trabalhamos em proximidade com outros veículos sérios, fortalecendo assim nossa missão e o jornalismo no Brasil.<br /><br />

                    Nossos principais canais são:

                    <ul>
                     <li><p>Um site principal, aberto a todos, sem login ou senha, que abriga nossas reportagens e dados;</p></li>

                     <li><p>Publicação de conteúdo nativo em redes sociais;</p></li>

                     <li><p>Podcasts;</p></li>

                     <li><p>Newsletters;</p></li>

                     <li><p>Parceria com veículos brasileiros;</p></li>

                      <li><p>Futuramente pretendemos lançar plataformas que permitirão cruzamentos de bases de dados, que serão exclusivas para assinantes;</p></li>


                      </ul>

                  </p>
              </div>
              </div>

      </div>
        <!-- /.container -->

    </div>
</section>
