<section id="funcionamento">
    <div class="content-section-a">

      <div class="container">
                <div class="row">
                <div class="col-lg-5">
                <!--<img class="img-responsive" src="img/services/{{ post.img }}" alt="">-->
                <h2>Como vai funcionar?</h2>
                <div class="lead">No <strong>Núcleo</strong>, todos os dados e códigos que embasarem nossas reportagens, investigações e análises serão abertos, assim como nosso conteúdo.</div>
                </div>
              <div class="col-lg-5" style="float:right"> <br />
                  <p>
                    O jornalismo que publicaremos é para todos aqueles que se interessam com as engrenagens que movem os debates em redes sociais, a tecnologia que nos cerca e o funcionamento de governos e de políticas públicas.<br /><br />

                    Queremos trabalhar em proximidade com outros veículos sérios, fortalecendo assim nossa missão e o jornalismo no Brasil.<br /><br />

                    São diversos os formatos e produtos que estamos desenvolvendo:<br /><br />

                    As áreas principais de atuação serão:

                    <ul>
                     <li><p>Um site principal, aberto a todos, sem login ou senha, que abrigará nossas reportagens e dados;</p></li>

                      <li><p>Transparência de políticas públicas;</p></li>

                      <li><p>Plataformas que permitirão cruzamentos de bases de dados, que serão exclusivas para assinantes;</p></li>

                      <li><p>Publicação de conteúdo nativo em redes sociais;</p></li>

                      <li><p>Newsletters seletivas e com conteúdo exclusivo;</p></li>

                      <li><p>Podcasts.</p></li>
                      </ul>

                  </p>
              </div>
              </div>

      </div>
        <!-- /.container -->

    </div>
</section>
