<section id="equipe">
    <div class="content-section-a">

      <div class="container">
                <div class="row">
                <div class="col-lg-5">
                <!--<img class="img-responsive" src="img/services/{{ post.img }}" alt="">-->
                <h2 class="page-tt">Quem faz o projeto?</h2>
                <div class="lead">O <strong>Núcleo</strong> é composto por pessoas comprometidas com o jornalismo e que possuem experiência em reportagem, análise de dados, investigações de documentos, estratégia digital e produtos editoriais.</div>
                </div>
              <div class="col-lg-5" style="float:right"> <br />
                  <h3>Sérgio Spagnuolo</h3>
                  <p class="conteudo">Editor  <a class="social" href="https://twitter.com/sergiospagnuolo" target="_blank"><i class="fab fa-twitter "></i></a></p>

                  <h3>Alexandre Orrico </h3>
                  <p class="conteudo">Editor - estratégia digital <a class="social" href="https://twitter.com/alexorrico" target="_blank"><i class="fab fa-twitter "></i></a></p>

                  <h3>Renata Hirota</h3>
                  <p class="conteudo">Analista de dados <a class="social" href="https://twitter.com/renata_mh" target="_blank"><i class="fab fa-twitter "></i></a></p>

                  <h3>Rodolfo Almeida</h3>
                  <p class="conteudo">Repórter visual <a class="social" href="https://twitter.com/rodolfoalmd" target="_blank"><i class="fab fa-twitter v"></i></a></p>

                  <h3>Letícia Ferreira</h3>
                  <p class="conteudo">Redes sociais <a class="social" href="https://twitter.com/_leferreira_" target="_blank"><i class="fab fa-twitter"></i></a></p>

                  <h3>André Marconato</h3>
                  <p class="conteudo">Desenvolvedor</p>

              </div>
              </div>

      </div>
        <!-- /.container -->

    </div>
</section>
