<section id="missao">
    <div class="content-section-a">

      <div class="container">
                <div class="row">
                <div class="col-lg-5">
                <!--<img class="img-responsive" src="img/services/{{ post.img }}" alt="">-->
                <h2 class="page-tt">Missão</h2>
                <div class="lead">A missão do <strong>Núcleo</strong> é investigar e analisar dados públicos, com o objetivo de gerar transparência e clareza sobre o que acontece no Brasil.</div>
                </div>
              <div class="col-lg-5" style="float:right"> <br />
                  <p class="conteudo">
                    Nosso objetivo principal é informar nosso público para conscientizar e gerar ação acerca de temas relevantes para a vida cívica brasileira, pautando o debate público, sempre de olho no potencial para orientar mudanças. <br /><br />

                    As áreas principais de atuação serão:

                    <ul>
                     <li><p>Transparência de recursos públicos;</p></li>

                      <li><p>Transparência de políticas públicas;</p></li>

                      <li><p>Mídia, tecnologia e segurança da informação;</p></li>

                      <li><p>Meio-ambiente e cidades inteligentes;</p></li>

                      <li><p>Políticas de direitos humanos.</p></li>
                      </ul>

                  </p>
              </div>
              </div>

      </div>
        <!-- /.container -->

    </div>
</section>
