---
layout: categories
---

<div class="container">

    <section id="publicacoes">
      <h2><span style="font-family:Roboto Mono, monospace;font-weight:300">Arquivado em <span style="color:#4b31dd;text-transform:uppercase">#{{ page.tag }}</span></span></h2>
    <!-- Page Content -->
    {% for post in site.categories[page.tag] %}
        <div class="content-section-a">
          <div class="container" style="padding: 0 2% 60px">
                    <div class="row">
                    <div class="col-lg-6">
                    <!--<img class="img-responsive" src="img/services/{{ post.img }}" alt="">-->
                    <a href="{{ post.url | prepend: site.baseurl | replace: '//', '/' }}">
                      <h2 style="color:#231f20;text-transform:uppercase">{{ post.titulo_redes }}</h2></a>
                      <br />
                      <span class="arquivado">

                        {{ post.date | date: '%d/%m/%Y' }}  <br />

                      </span>
                      <br />
                    <p class="conteudo">{{ post.excerpt }} <strong><a href="{{ post.url }}">[Continuar...]</a></strong></p>
                    </div>
                  <div class="col-lg-5" style="float:right; padding-top: 20px; padding-right: 40px;">
                    <img src="{{ site.baseurl }}{{ post.background }}" width='95%'/>
                  </div>
                  </div>
          </div>

        </div>
    {% endfor %}
    </section>

</div>
