<!DOCTYPE html>
<html>
	{% include head.html %}
	<body style="">
		{% include nav.html %}
		{% include popup.html %}

</div>

		<!-- índice simples de matérias  -->
		<div class="container" style="padding: 0 5% 0px;max-width:950px;margin-top:35px;">

			{% assign posts = site.posts | where_exp: "post", "post.creditos contains page.title" %}

			<br /><br />
		  <h5 class="chapeu">
				<i class="fas fa-user-circle"></i> {{ page.tagline }}
			</h5>
								<div class="post-heading">
									<br />
									<div class="row gy-5">

										<div class="col-sm-7 col-md-7 col-lg-8">
												<h1 style="text-transform:uppercase;">{{ page.title }}</h1>
												{% if page.subtitle %}
												<p>{{ page.subtitle }}</p>
												{% endif %}
										</div>
											<div class="col-sm-5 col-md-5 col-lg-4">
													{% if page.image %}
													<img src="{{ site.baseurl }}/img/artes-equipe/{{ page.image }}" width="100%">
													<br />
													{% endif %}


												</div>

									</div>
									<div class="row gy-5">
									{% if page.email %}
									<div class="col-sm-2 col-md-4 col-lg-3">
									<span class="arquivado"><i class="far fa-envelope fa-lg"></i> <a href="mailto:{{ page.email }}?subject=Olá!">{{ page.email }} </a></span>
									<br />
									</div>
									{% endif %}

									{% if page.twitter %}
									<div class="col-sm-2 col-md-3 col-lg-3">
									<span class="arquivado"><i class="fab fa-twitter fa-lg"></i> <a class="social" href="https://twitter.com/{{ page.twitter }}" target="_blank"> {{ page.twitter }}</a></span>
									<br />
									</div>
									{% endif %}

									{% if page.linkedin_nome %}
									<div class="col-sm-2 col-md-4 col-lg-3">
									<span class="arquivado"><i class="fab fa-linkedin fa-lg"></i> <a class="social" href="{{ page.linkedin_link }}" target="_blank"> {{ page.linkedin_nome }}</a></span>
									</div>
									{% endif %}

									{% assign total = posts | size %}
									{% if total > 1 %}
									<div class="col-sm-2 col-md-4 col-lg-3">
									<i class="fas fa-pen fa-sm"></i> <small class="social">{{ total }} publicações</small>
									</div>
									{% endif %}
								</div>
									<hr style="height:2px;background-color:#4b31dd;margin: 20px 0 3px" />
									<span style="font-family:'Roboto Mono';font-size:0.8em;margin-bottom:30px">
									<a href="{{ site.baseurl }}/equipe"><< Voltar para equipe</a>
									</span>
									<br /><br />
									{% if total > 0 %}
									<h5 class="chapeu">
									 <i class="fas fa-layer-group fa-lg"></i> PUBLICAÇÕES RELACIONADAS
								 </h5>
								  {% else %} <p>
										Ainda não há publicações no site associadas a esta pessoa.
									</p>
									 {% endif %}
								</div>


									          <div class="row">

									{% for post in posts %}
										{% unless post.tipo contains 'draft' %}
									        <div class="col-sm-6 col-lg-6" style="height:80px">

									                <a href="{{ post.url | prepend: site.baseurl | replace: '//', '/' }}">
									                  <h3 class="page-tttt">{{ post.titulo_redes }}</h3></a>
									                  <br />
									                  <span class="arquivado" style="color:#000">

									                    <i class="far fa-calendar-alt"></i> {{ post.date | date: '%d/%m/%Y' }} &middot;

									                  </span>
									                  <br /><br />
									          </div>
														{% endunless %}
									          {% endfor %}
									                </div>
									              </div>
																<br />



  {% include footer.html %}
  {% include js.html %}
</body>
</html>
