<!DOCTYPE html>
<html>
	{% include head_post.html %}

	<body>
		{% include nav.html %}

		<section id="publicacoes">
			<style>
				.special_banner{
					margin: 80px auto 20px;
					max-width: 980px;
					text-align: center;
				}
				.mid_especial{
					margin: 50px 0 30px;
					overflow: hidden;
					width: 100vw;
				  position: relative;
				  left: calc(-50vw + 50%);

				}
				.text_banner_special{
					max-width: 600px;
					margin: 0 auto;
					text-align: center;
				}
			</style>

			<div class="special_banner">
				<div class="text_banner_special">
				<h1 class="tt-special">{{ page.title }}</h1>
				<div class="creditos">
					<h4>
								<span class="arquivado">

									  <br /> Arquivado em <a href="{{ site.baseurl}}/{{ page.categories }}"><strong>{% if page.cat %}{{ page.cat }} {% else %} {{ page.categories }}{% endif %}</strong></a>

								</span> &middot;
										<span class="arquivado">Publicado em {{ page.date | date: '%d/%m/%Y %H:%M' }}</span>
									</h4>

								</div>
				</div>

<div style="margin: 0 auto; max-width: 500px">
	{% assign currentYear = site.time | date: '%Y' %}
	{% assign postYear = page.date | date: '%Y' %}
	{% assign postAge = currentYear | minus: postYear | minus: 0 %}

	{% if postAge >= 1 and postAge < 2 %}
	<div class="maybe-obsolete">
		<i class="fas fa-history fa-lg"></i> Este artigo foi publicado <strong style="color:black">em {{ postYear }}</strong>, parte de seu conteúdo pode estar desatualizada ou obsoleta.
	</div>
	{% endif %}
	{% if postAge >= 2 %}
	<div class="maybe-obsolete">
		<i class="fas fa-history"></i> Este artigo foi publicado há mais de <strong style="color:black">{{ postAge }} anos</strong>, parte de seu conteúdo pode estar desatualizada ou obsoleta.
	</div>
	{% endif %}
</div>


				<!-- IMAGEM DE DESTAQUE NA DIV -->
				<style>
				{% if page.gif %}

				.destak-special{
					margin: 50px 0 30px;
					height: 450px;
					background: url('{{ site.baseurl }}/img/{{ page.gif }}') rgba(0, 0, 0, 0.4);
					background-position: center;
					background-size: cover;
				}
				{% else %}
				.destak-special{
					margin: 50px 0 30px;
					height: 450px;
					background: url('{{ site.baseurl }}/img/{{ page.image }}') rgba(0, 0, 0, 0.4);
					background-position: center;
					background-size: cover;
				}
				{% endif %}
				</style>

				<div class="destak-special"></div>


				 <br /><br />

				<h2 class="subheading-special">{{ page.subtitle }}</h2>
			</div>


			<!-- Floating Social Media bar Starts -->
			<div class="float-sm">
				<div class="fl-fl float-shareicon" style="background-color: transparent">
					<i class="fas fa-share-alt fa-lg" style="color: black"></i>
			  </div>
			<div class="fl-fl float-fb">
			<a href="https://twitter.com/intent/tweet?source={{ page.url }}%2F&via=nucleojor" target="_blank" title="Tweet" onclick="window.open('https://twitter.com/intent/tweet?text=' + encodeURIComponent(document.title) + ':%20' + encodeURIComponent(document.URL)) + ' via @nucleojor'; return false;"><i class="fab fa-twitter-square fa-2x" aria-hidden="true" style="color:#4b31dd"></i><span class="sr-only"></span></a>
			</div>
			<div class="fl-fl float-tw">
			<a href="https://www.facebook.com/sharer/sharer.php?u={{ page.url }}" target="_blank" title="Facebook" onclick="window.open('https://www.facebook.com/sharer/sharer.php?u=' + encodeURIComponent(document.URL) + '&quote=' + encodeURIComponent(document.URL)); return false;"><i class="fab fa-facebook-square fa-2x" aria-hidden="true" style="color:#4b31dd"></i><span class="sr-only"></span></a>
			</div>
			<div class="fl-fl float-gp">
			<a href="whatsapp://send?text={{ page.titulo_redes }} - {{ site.url | replace: 'br/', 'br' }}{{ page.url }}" target="_blank" title="Compartilhar no Whatsapp"><i class="fab fa-whatsapp-square fa-2x" aria-hidden="true" style="color:#4b31dd"></i><span class="sr-only"></span></a>
			</div>
			<div class="fl-fl float-rs">
			<a href="http://www.reddit.com/submit?url={{ page.url }}" target="_blank" title="Reddit" onclick="window.open('http://www.reddit.com/submit?url=' + encodeURIComponent(document.URL) + '&title=' +  encodeURIComponent(document.title)); return false;"><i class="fab fa-reddit-square fa-2x" aria-hidden="true" style="color:#4b31dd"></i><span class="sr-only"></span></a>
			</div>
			<div class="fl-fl float-ig">
			<a href="http://www.linkedin.com/shareArticle?mini=true&url={{ page.url }}" target="_blank" title="LinkedIn" onclick="window.open('http://www.linkedin.com/shareArticle?mini=true&url=' + encodeURIComponent(document.URL) + '&title=' +  encodeURIComponent(document.title)); return false;"><i class="fab fa-linkedin fa-2x" aria-hidden="true" style="color:#4b31dd"></i><span class="sr-only"></span></a>
			</div>
			</div>
			<!-- Floating Social Media bar Ends -->
			<!-- IMAGENS -->
			<div style="max-width:100%;text-align: center">


			{% for colaborador in page.creditos %}
			<a href='{{ site.baseurl }}/equipe/{{ colaborador | downcase | replace: " ", "-" | replace: "é", "e" | replace: "í", "i" | replace: "á", "a" | replace: "ó", "o" | replace: "ú", "u" }}'><img class="thumb-equipe" src='{{ site.baseurl }}/img/artes-equipe/{{ colaborador | downcase | replace: " ", "-" | replace: "é", "e" | replace: "í", "i" | replace: "á", "a" | replace: "ó", "o" | replace: "ú", "u" }}.png' alt= "" onerror="this.style.opacity='0'"/></a>

			{% endfor %}
			<br />
			</div>
								<div class="container" style="padding: 0 5% 0px;max-width:650px">
									<h4 style="text-align:center; line-height: 1.6em">
										<span class="creditos_special">



											<!-- AUTORIA -->
											{% assign n_autores = page.autoria | size %}
												{% if n_autores == 0 %}
													{% elsif n_autores == 1 %}
													<strong>Por</strong> <span><a href='{{ site.baseurl }}/equipe/{{ page.autoria | first | downcase | replace: " ", "-" | replace: "é", "e" | replace: "í", "i" | replace: "á", "a" | replace: "ó", "o" | replace: "ú", "u" }}'>{{ page.autoria | first }}</a></span>
													{% else %}
													{% for autor in page.autoria %}
													{% if forloop.first %}
													<strong>Por</strong> <span><a href='{{ site.baseurl }}/equipe/{{ autor | downcase | replace: " ", "-" | replace: "é", "e" | replace: "í", "i" | replace: "á", "a" | replace: "ó", "o" | replace: "ú", "u" }}'>{{ autor }}</a></span>
													{% elsif forloop.last %}
																	e <span><a href='{{ site.baseurl }}/equipe/{{ autor | downcase | replace: " ", "-" | replace: "é", "e" | replace: "í", "i" | replace: "á", "a" | replace: "ó", "o" | replace: "ú", "u" }}'>{{ autor }}</a></span>
															{% else %}
																	, <span><a href='{{ site.baseurl }}/equipe/{{ autor | downcase | replace: " ", "-" | replace: "é", "e" | replace: "í", "i" | replace: "á", "a" | replace: "ó", "o" | replace: "ú", "u" }}'>{{ autor }}</a></span>
															{% endif %}
													{% endfor %}
													<br />
											{% endif %}


											<!-- REPORTAGEM -->
											{% assign n_reporteres = page.reportagem | size %}
											{% if n_reporteres == 0 %}
												{% elsif n_reporteres == 1 %}
												<strong>Reportagem</strong> <span><a href='{{ site.baseurl }}/equipe/{{ page.reportagem | first | downcase | replace: " ", "-" | replace: "é", "e" | replace: "í", "i" | replace: "á", "a" | replace: "ó", "o" | replace: "ú", "u"}}'>{{ page.reportagem | first }}</a></span>
												<br />
												{% else %}
												{% for reporter in page.reportagem %}
												{% if forloop.first %}
												<strong>Reportagem</strong> <span><a href='{{ site.baseurl }}/equipe/{{ reporter | downcase | replace: " ", "-" | replace: "é", "e" | replace: "í", "i" | replace: "á", "a" | replace: "ó", "o" | replace: "ú", "u" }}'>{{ reporter }}</a></span>
												{% elsif forloop.last %}
																e <span><a href='{{ site.baseurl }}/equipe/{{ reporter | downcase | replace: " ", "-" | replace: "é", "e" | replace: "í", "i" | replace: "á", "a" | replace: "ó", "o" | replace: "ú", "u" }}'>{{ reporter }}</a></span>
														{% else %}
																, <span><a href='{{ site.baseurl }}/equipe/{{ reporter | downcase | replace: " ", "-" | replace: "é", "e" | replace: "í", "i" | replace: "á", "a" | replace: "ó", "o" | replace: "ú", "u" }}'>{{ reporter }}</a></span>
														{% endif %}
												{% endfor %}
												<br />
											{% endif %}

											<!-- ANÁLISE -->
											{% assign n_analistas = page.analise | size %}
												{% if n_analistas == 0 %}
													{% elsif n_analistas == 1 %}
													<strong>Análise</strong> <span><a href='{{ site.baseurl }}/equipe/{{ page.analise | downcase | replace: " ", "-" | replace: "é", "e" | replace: "í", "i" | replace: "á", "a" | replace: "ó", "o" | replace: "ú", "u"}}'>{{ page.analise | first }}</a></span>
													<br />
													{% else %}
													{% for analista in page.analise %}
													{% if forloop.first %}
													<strong>Análise</strong> <span><a href='{{ site.baseurl }}/equipe/{{ analista | downcase | replace: " ", "-" | replace: "é", "e" | replace: "í", "i" | replace: "á", "a" | replace: "ó", "o" | replace: "ú", "u" }}'>{{ analista }}</a></span>
													{% elsif forloop.last %}
																	e <span><a href='{{ site.baseurl }}/equipe/{{ analista | downcase | replace: " ", "-" | replace: "é", "e" | replace: "í", "i" | replace: "á", "a" | replace: "ó", "o" | replace: "ú", "u" }}'>{{ analista }}</a></span>
															{% else %}
																	, <span><a href='{{ site.baseurl }}/equipe/{{ analista | downcase | replace: " ", "-" | replace: "é", "e" | replace: "í", "i" | replace: "á", "a" | replace: "ó", "o" | replace: "ú", "u" }}'>{{ analista }}</a></span>
															{% endif %}
													{% endfor %}
													<br />
											{% endif %}

											<!-- COLABORACAO -->
											{% assign n_escritores = page.texto | size %}
												{% if n_escritores == 0 %}
													{% elsif n_escritores == 1 %}
													<strong>Texto</strong> <span><a href='{{ site.baseurl }}/equipe/{{ page.texto | downcase | replace: " ", "-" | replace: "é", "e" | replace: "í", "i" | replace: "á", "a" | replace: "ó", "o" | replace: "ú", "u"}}'>{{ page.texto | first }}</a></span>
													<br />
													{% else %}
													{% for escritor in page.texto %}
													{% if forloop.first %}
													<strong>Texto <span><a href='{{ site.baseurl }}/equipe/{{ escritor | downcase | replace: " ", "-" | replace: "é", "e" | replace: "í", "i" | replace: "á", "a" | replace: "ó", "o" | replace: "ú", "u" }}'>{{ escritor }}</a></span>
													{% elsif forloop.last %}
																	e <span><a href='{{ site.baseurl }}/equipe/{{ escritor | downcase | replace: " ", "-" | replace: "é", "e" | replace: "í", "i" | replace: "á", "a" | replace: "ó", "o" | replace: "ú", "u" }}'>{{ escritor }}</a></span>
															{% else %}
																	, <span><a href='{{ site.baseurl }}/equipe/{{ escritor | downcase | replace: " ", "-" | replace: "é", "e" | replace: "í", "i" | replace: "á", "a" | replace: "ó", "o" | replace: "ú", "u" }}'>{{ escritor }}</a></span>
															{% endif %}
													{% endfor %}
													<br />
											{% endif %}

											<!-- COLABORACAO -->
											{% assign n_colabs = page.colaboracao | size %}
												{% if n_colabs == 0 %}
													{% elsif n_colabs == 1 %}
													<strong>Colaboração</strong> <span><a href='{{ site.baseurl }}/equipe/{{ page.colaboracao | downcase | replace: " ", "-" | replace: "é", "e" | replace: "í", "i" | replace: "á", "a" | replace: "ó", "o" | replace: "ú", "u"}}'>{{ page.colaboracao | first }}</a></span>
													<br />
													{% else %}
													{% for colab in page.colaboracao %}
													{% if forloop.first %}
													<strong>Colaboração</strong> <span><a href='{{ site.baseurl }}/equipe/{{ colab | downcase | replace: " ", "-" | replace: "é", "e" | replace: "í", "i" | replace: "á", "a" | replace: "ó", "o" | replace: "ú", "u" }}'>{{ colab }}</a></span>
													{% elsif forloop.last %}
																	e <span><a href='{{ site.baseurl }}/equipe/{{ colab | downcase | replace: " ", "-" | replace: "é", "e" | replace: "í", "i" | replace: "á", "a" | replace: "ó", "o" | replace: "ú", "u" }}'>{{ colab }}</a></span>
															{% else %}
																	, <span><a href='{{ site.baseurl }}/equipe/{{ colab | downcase | replace: " ", "-" | replace: "é", "e" | replace: "í", "i" | replace: "á", "a" | replace: "ó", "o" | replace: "ú", "u" }}'>{{ colab }}</a></span>
															{% endif %}
													{% endfor %}
													<br />
											{% endif %}

											<!-- DADOS -->
											{% assign n_dadistas = page.dados | size %}
												{% if n_dadistas == 0 %}
													{% elsif n_dadistas == 1 %}
													<strong>Dados</strong> <span><a href='{{ site.baseurl }}/equipe/{{ page.dados | downcase | replace: " ", "-" | replace: "é", "e" | replace: "í", "i" | replace: "á", "a" | replace: "ó", "o" | replace: "ú", "u"}}'>{{ page.dados | first }}</a></span>
													<br />
													{% else %}
													{% for dadista in page.dados %}
													{% if forloop.first %}
													<strong>Dados</strong> <span><a href='{{ site.baseurl }}/equipe/{{ dadista | downcase | replace: " ", "-" | replace: "é", "e" | replace: "í", "i" | replace: "á", "a" | replace: "ó", "o" | replace: "ú", "u" }}'>{{ dadista }}</a></span>
													{% elsif forloop.last %}
																	e <span><a href='{{ site.baseurl }}/equipe/{{ dadista | downcase | replace: " ", "-" | replace: "é", "e" | replace: "í", "i" | replace: "á", "a" | replace: "ó", "o" | replace: "ú", "u" }}'>{{ dadista }}</a></span>
															{% else %}
																	, <span><a href='{{ site.baseurl }}/equipe/{{ dadista | downcase | replace: " ", "-" | replace: "é", "e" | replace: "í", "i" | replace: "á", "a" | replace: "ó", "o" | replace: "ú", "u" }}'>{{ dadista }}</a></span>
															{% endif %}
													{% endfor %}
													<br />
											{% endif %}

											<!-- GRÁFICOS -->
											{% assign n_grafistas = page.graficos | size %}
												{% if n_grafistas == 0 %}
													{% elsif n_grafistas == 1 %}
													<strong>Gráficos</strong> <span><a href='{{ site.baseurl }}/equipe/{{ page.graficos | downcase | replace: " ", "-" | replace: "é", "e" | replace: "í", "i" | replace: "á", "a" | replace: "ó", "o" | replace: "ú", "u" }}'>{{ page.graficos | first }}</a></span>
													<br />
													{% else %}
													{% for grafista in page.graficos %}
													{% if forloop.first %}
													<strong>Gráficos</strong> <span><a href='{{ site.baseurl }}/equipe/{{ grafista | downcase | replace: " ", "-" | replace: "é", "e" | replace: "í", "i" | replace: "á", "a" | replace: "ó", "o" | replace: "ú", "u" }}'>{{ grafista }}</a></span>
													{% elsif forloop.last %}
																	e <span><a href='{{ site.baseurl }}/equipe/{{ grafista | downcase | replace: " ", "-" | replace: "é", "e" | replace: "í", "i" | replace: "á", "a" | replace: "ó", "o" | replace: "ú", "u" }}'>{{ grafista }}</a></span>
															{% else %}
																	, <span><a href='{{ site.baseurl }}/equipe/{{ grafista | downcase | replace: " ", "-" | replace: "é", "e" | replace: "í", "i" | replace: "á", "a" | replace: "ó", "o" | replace: "ú", "u" }}'>{{ grafista }}</a></span>
															{% endif %}
													{% endfor %}
													<br />
											{% endif %}

											<!-- ARTE -->
											{% assign n_artistas = page.arte | size %}
												{% if n_artistas == 0 %}
													{% elsif n_artistas == 1 %}
													<strong>Arte</strong> <span><a href='{{ site.baseurl }}/equipe/{{ page.arte | downcase | replace: " ", "-" | replace: "é", "e" | replace: "í", "i" | replace: "á", "a" | replace: "ó", "o" | replace: "ú", "u" }}'>{{ page.arte | first }}</a></span>
													<br />
													{% else %}
													{% for artista in page.arte %}
													{% if forloop.first %}
													<strong>Arte</strong> <span><a href='{{ site.baseurl }}/equipe/{{ artista | downcase | replace: " ", "-" | replace: "é", "e" | replace: "í", "i" | replace: "á", "a" | replace: "ó", "o" | replace: "ú", "u" }}'>{{ artista }}</a></span>
													{% elsif forloop.last %}
																	e <span><a href='{{ site.baseurl }}/equipe/{{ artista | downcase | replace: " ", "-" | replace: "é", "e" | replace: "í", "i" | replace: "á", "a" | replace: "ó", "o" | replace: "ú", "u" }}'>{{ artista }}</a></span>
															{% else %}
																	, <span><a href='{{ site.baseurl }}/equipe/{{ artista | downcase | replace: " ", "-" | replace: "é", "e" | replace: "í", "i" | replace: "á", "a" | replace: "ó", "o" | replace: "ú", "u" }}'>{{ artista }}</a></span>
															{% endif %}
													{% endfor %}
													<br />
											{% endif %}


											<!-- EDICAO -->
											{% assign n_editores = page.edicao | size %}
												{% if n_editores == 0 %}
												Publicado por Equipe Núcleo
													{% elsif n_editores == 1 %}
													<strong>Edição</strong> <span><a href='{{ site.baseurl }}/equipe/{{ page.edicao | downcase | replace: " ", "-" | replace: "é", "e" | replace: "í", "i" | replace: "á", "a" | replace: "ó", "o" | replace: "ú", "u" }}'>{{ page.edicao | first }}</a></span>
													<br />
													{% else %}
													{% for editor in page.edicao %}
													{% if forloop.first %}
													<strong>Edição</strong> <span><a href='{{ site.baseurl }}/equipe/{{ editor | downcase | replace: " ", "-" | replace: "é", "e" | replace: "í", "i" | replace: "á", "a" | replace: "ó", "o" | replace: "ú", "u" }}'>{{ editor }}</a></span>
													{% elsif forloop.last %}
																	e <span><a href='{{ site.baseurl }}/equipe/{{ editor | downcase | replace: " ", "-" | replace: "é", "e" | replace: "í", "i" | replace: "á", "a" | replace: "ó", "o" | replace: "ú", "u" }}'>{{ editor }}</a></span>
															{% else %}
																	, <span><a href='{{ site.baseurl }}/equipe/{{ editor | downcase | replace: " ", "-" | replace: "é", "e" | replace: "í", "i" | replace: "á", "a" | replace: "ó", "o" | replace: "ú", "u" }}'>{{ editor }}</a></span>
															{% endif %}
													{% endfor %}
													<br />
											{% endif %}

									</span>
								</h4>
										<hr />

								<div class="texto_post_special">
									<ul class="share-buttons" style="text-align:center">
									<li><a href="whatsapp://send?text={{ page.titulo_redes }} - {{ site.url | replace: 'br/', 'br' }}{{ page.url }}" target="_blank" title="Compartilhar no Whatsapp"><i class="fab fa-whatsapp-square fa-lg" aria-hidden="true" style="color:#4b31dd"></i><span class="sr-only"></span></a></li>
									<li><a href="https://www.facebook.com/sharer/sharer.php?u={{ page.url }}" target="_blank" title="Facebook" onclick="window.open('https://www.facebook.com/sharer/sharer.php?u=' + encodeURIComponent(document.URL) + '&quote=' + encodeURIComponent(document.URL)); return false;"><i class="fab fa-facebook-square fa-lg" aria-hidden="true" style="color:#4b31dd"></i><span class="sr-only">Facebook</span></a></li>
								  <li><a href="https://twitter.com/intent/tweet?source={{ page.url }}%2F&via=nucleojor" target="_blank" title="Tweet" onclick="window.open('https://twitter.com/intent/tweet?text=' + encodeURIComponent(document.title) + ':%20' + encodeURIComponent(document.URL)) + ' via @nucleojor'; return false;"><i class="fab fa-twitter-square fa-lg" aria-hidden="true" style="color:#4b31dd"></i><span class="sr-only">Tweet</span></a></li>
								  <li><a href="http://www.reddit.com/submit?url={{ page.url }}" target="_blank" title="Reddit" onclick="window.open('http://www.reddit.com/submit?url=' + encodeURIComponent(document.URL) + '&title=' +  encodeURIComponent(document.title)); return false;"><i class="fab fa-reddit-square fa-lg" aria-hidden="true" style="color:#4b31dd"></i><span class="sr-only">Reddit</span></a></li>
								  <li><a href="http://www.linkedin.com/shareArticle?mini=true&url={{ page.url }}" target="_blank" title="LinkedIn" onclick="window.open('http://www.linkedin.com/shareArticle?mini=true&url=' + encodeURIComponent(document.URL) + '&title=' +  encodeURIComponent(document.title)); return false;"><i class="fab fa-linkedin fa-lg" aria-hidden="true" style="color:#4b31dd"></i><span class="sr-only">Share on LinkedIn</span></a></li>
								  <li><a href="mailto:?subject=&body=:%20{{ page.url }}" target="_blank" title="Mandar email" onclick="window.open('mailto:?subject=' + encodeURIComponent(document.title) + '&body=' +  encodeURIComponent(document.URL)); return false;"><i class="fas fa-envelope-square fa-lg" aria-hidden="true" style="color:#4b31dd"></i><span class="sr-only">Mandar email</span></a></li>
								</ul>
								{% assign wordCount = page.content | number_of_words %}
								<h4 class="arquivado creditos_alt" style="margin-top:20px;text-align:center"><i class="fas fa-pen"></i> <u>Palavras</u>: {{ wordCount }}</h4>
								<h4 class="arquivado creditos_alt" style="text-align:center"><i class="fas fa-i-cursor"></i> Caracteres: {{ page.content | size }}</h4>
								<h4 class="arquivado creditos_alt" style="text-align:center"><i class="far fa-clock"></i> Leitura estimada: {{ wordCount | divided_by:250 }} minutos</h4>
								<br /><br />
										{{ content }}

										<hr>

										{% if page.atualizacao %}
										<h4>
											<i class="fas fa-exclamation-circle fa-sm"></i> <small><em>{{ page.atualizacao }}</em></small>
										</h4>
										<hr />
										{% endif %}

										{% include apoie_o_nucleo.html %}
									 </hr>
										<h4 class="tags"><i class="fas fa-tags"></i> <u>Tags</u>: {{ page.tags }}</h4>
								</div>

								<hr>
								      </div>
											<div style="max-width: 600px;margin: 0 auto">
												{% include sugestoes_artigos.html %}

											</div>

	</section>

		{% include footer.html %}
		{% include js.html %}
	</body>
</html>
