<!DOCTYPE html>
<html>
	{% include head_post.html %}

	<body>
		{% include nav.html %}

		<section id="publicacoes">
			<style>
				.special_banner{
					margin: 80px auto 20px;
					max-width: 980px;
					text-align: center;
				}
				.mid_especial{
					margin: 50px 0 30px;
					overflow: hidden;
					width: 100vw;
				  position: relative;
				  left: calc(-50vw + 50%);

				}
				.text_banner_special{
					max-width: 600px;
					margin: 0 auto;
					text-align: center;
				}
			</style>

			<div class="special_banner">
				<div class="text_banner_special">
				<h1 class="tt-special">{{ page.title }}</h1>
				<div class="creditos">
					<h4>
								<span class="arquivado">

									  <br /> Arquivado em <a href="{{ site.baseurl}}/{{ page.categories }}"><strong>{% if page.cat %}{{ page.cat }} {% else %} {{ page.categories }}{% endif %}</strong></a>

								</span> &middot;
										<span class="arquivado">Publicado em {{ page.date | date: '%d/%m/%Y %H:%M' }}</span>
									</h4>

								</div>
				</div>

<div style="margin: 0 auto; max-width: 500px">
	{% assign currentYear = site.time | date: '%Y' %}
	{% assign postYear = page.date | date: '%Y' %}
	{% assign postAge = currentYear | minus: postYear | minus: 0 %}

	{% if postAge >= 1 and postAge < 2 %}
	<div class="maybe-obsolete">
		<i class="fas fa-history fa-lg"></i> Este artigo foi publicado <strong style="color:black">em {{ postYear }}</strong>, parte de seu conteúdo pode estar desatualizada ou obsoleta.
	</div>
	{% endif %}
	{% if postAge >= 2 %}
	<div class="maybe-obsolete">
		<i class="fas fa-history"></i> Este artigo foi publicado há mais de <strong style="color:black">{{ postAge }} anos</strong>, parte de seu conteúdo pode estar desatualizada ou obsoleta.
	</div>
	{% endif %}
</div>


				<!-- IMAGEM DE DESTAQUE NA DIV -->
				<style>
				{% if page.gif %}

				.destak-special{
					margin: 50px 0 30px;
					height: 450px;
					background: url('{{ site.baseurl }}/img/{{ page.gif }}') rgba(0, 0, 0, 0.4);
					background-position: center;
					background-size: cover;
				}
				{% else %}
				.destak-special{
					margin: 50px 0 30px;
					height: 450px;
					background: url('{{ site.baseurl }}/img/{{ page.background }}') rgba(0, 0, 0, 0.4);
					background-position: center;
					background-size: cover;
				}
				{% endif %}
				</style>

				<div class="destak-special"></div>


				 <br /><br />

				<h2 class="subheading-special">{{ page.subtitle }}</h2>
			</div>


			<!-- Floating Social Media bar Starts -->
			<div class="float-sm">
				<div class="fl-fl float-shareicon" style="background-color: transparent">
					<i class="fas fa-share-alt fa-lg" style="color: black"></i>
			  </div>
			<div class="fl-fl float-fb">
			<a href="https://twitter.com/intent/tweet?source={{ page.url }}%2F&via=nucleojor" target="_blank" title="Tweet" onclick="window.open('https://twitter.com/intent/tweet?text=' + encodeURIComponent(document.title) + ':%20' + encodeURIComponent(document.URL)) + ' via @nucleojor'; return false;"><i class="fab fa-twitter-square fa-2x" aria-hidden="true" style="color:#4b31dd"></i><span class="sr-only"></span></a>
			</div>
			<div class="fl-fl float-tw">
			<a href="https://www.facebook.com/sharer/sharer.php?u={{ page.url }}" target="_blank" title="Facebook" onclick="window.open('https://www.facebook.com/sharer/sharer.php?u=' + encodeURIComponent(document.URL) + '&quote=' + encodeURIComponent(document.URL)); return false;"><i class="fab fa-facebook-square fa-2x" aria-hidden="true" style="color:#4b31dd"></i><span class="sr-only"></span></a>
			</div>
			<div class="fl-fl float-gp">
			<a href="whatsapp://send?text={{ page.titulo_redes }} - {{ site.url | replace: 'br/', 'br' }}{{ page.url }}" target="_blank" title="Compartilhar no Whatsapp"><i class="fab fa-whatsapp-square fa-2x" aria-hidden="true" style="color:#4b31dd"></i><span class="sr-only"></span></a>
			</div>
			<div class="fl-fl float-rs">
			<a href="http://www.reddit.com/submit?url={{ page.url }}" target="_blank" title="Reddit" onclick="window.open('http://www.reddit.com/submit?url=' + encodeURIComponent(document.URL) + '&title=' +  encodeURIComponent(document.title)); return false;"><i class="fab fa-reddit-square fa-2x" aria-hidden="true" style="color:#4b31dd"></i><span class="sr-only"></span></a>
			</div>
			<div class="fl-fl float-ig">
			<a href="http://www.linkedin.com/shareArticle?mini=true&url={{ page.url }}" target="_blank" title="LinkedIn" onclick="window.open('http://www.linkedin.com/shareArticle?mini=true&url=' + encodeURIComponent(document.URL) + '&title=' +  encodeURIComponent(document.title)); return false;"><i class="fab fa-linkedin fa-2x" aria-hidden="true" style="color:#4b31dd"></i><span class="sr-only"></span></a>
			</div>
			</div>
			<!-- Floating Social Media bar Ends -->


								<div class="container" style="padding: 0 5% 0px;max-width:650px">
									<hr />
									<h4 style="text-align:center; line-height: 1.6em">
										<span class="creditos_special">

										Por <span>{{ page.autoria }}</span> <br />
										{% if page.reportagem %} Reportagem <span>{{ page.reportagem }}</span><br /> {% else %} {% endif %}
										{% if page.analise %} Análise <span>{{ page.analise }}</span><br /> {% endif %}
										{% if page.texto %} Texto <span>{{ page.texto }}</span><br /> {% endif %}
										{% if page.colaboracao %} Colaboração <span>{{ page.colaboracao }}</span><br /> {% endif %}
										{% if page.graficos %} Gráficos <span>{{ page.graficos }}</span><br /> {% endif %}
										{% if page.arte %} Arte <span>{{ page.arte }}</span><br /> {% endif %}
										{% if page.dados %} dados <span>{{ page.dados }}</span><br /> {% endif %}
										{% if page.edicao %} Edição <span>{{ page.edicao }}</span>{% else %} Publicado por Equipe Núcleo {% endif %}

									</span>
								</h4>
										<hr />

								<div class="texto_post_special">
									<ul class="share-buttons" style="text-align:center">
									<li><a href="whatsapp://send?text={{ page.titulo_redes }} - {{ site.url | replace: 'br/', 'br' }}{{ page.url }}" target="_blank" title="Compartilhar no Whatsapp"><i class="fab fa-whatsapp-square fa-lg" aria-hidden="true" style="color:#4b31dd"></i><span class="sr-only"></span></a></li>
									<li><a href="https://www.facebook.com/sharer/sharer.php?u={{ page.url }}" target="_blank" title="Facebook" onclick="window.open('https://www.facebook.com/sharer/sharer.php?u=' + encodeURIComponent(document.URL) + '&quote=' + encodeURIComponent(document.URL)); return false;"><i class="fab fa-facebook-square fa-lg" aria-hidden="true" style="color:#4b31dd"></i><span class="sr-only">Facebook</span></a></li>
								  <li><a href="https://twitter.com/intent/tweet?source={{ page.url }}%2F&via=nucleojor" target="_blank" title="Tweet" onclick="window.open('https://twitter.com/intent/tweet?text=' + encodeURIComponent(document.title) + ':%20' + encodeURIComponent(document.URL)) + ' via @nucleojor'; return false;"><i class="fab fa-twitter-square fa-lg" aria-hidden="true" style="color:#4b31dd"></i><span class="sr-only">Tweet</span></a></li>
								  <li><a href="http://www.reddit.com/submit?url={{ page.url }}" target="_blank" title="Reddit" onclick="window.open('http://www.reddit.com/submit?url=' + encodeURIComponent(document.URL) + '&title=' +  encodeURIComponent(document.title)); return false;"><i class="fab fa-reddit-square fa-lg" aria-hidden="true" style="color:#4b31dd"></i><span class="sr-only">Reddit</span></a></li>
								  <li><a href="http://www.linkedin.com/shareArticle?mini=true&url={{ page.url }}" target="_blank" title="LinkedIn" onclick="window.open('http://www.linkedin.com/shareArticle?mini=true&url=' + encodeURIComponent(document.URL) + '&title=' +  encodeURIComponent(document.title)); return false;"><i class="fab fa-linkedin fa-lg" aria-hidden="true" style="color:#4b31dd"></i><span class="sr-only">Share on LinkedIn</span></a></li>
								  <li><a href="mailto:?subject=&body=:%20{{ page.url }}" target="_blank" title="Mandar email" onclick="window.open('mailto:?subject=' + encodeURIComponent(document.title) + '&body=' +  encodeURIComponent(document.URL)); return false;"><i class="fas fa-envelope-square fa-lg" aria-hidden="true" style="color:#4b31dd"></i><span class="sr-only">Mandar email</span></a></li>
								</ul>
								{% assign wordCount = page.content | number_of_words %}
								<h4 class="arquivado creditos_alt" style="margin-top:20px;text-align:center"><i class="fas fa-pen"></i> <u>Palavras</u>: {{ wordCount }}</h4>
								<h4 class="arquivado creditos_alt" style="text-align:center"><i class="fas fa-i-cursor"></i> Caracteres: {{ page.content | size }}</h4>
								<h4 class="arquivado creditos_alt" style="text-align:center"><i class="far fa-clock"></i> Leitura estimada: {{ wordCount | divided_by:250 }} minutos</h4>
								<br /><br />
										{{ content }}

										<hr>

										{% if page.atualizacao %}
										<h4>
											<i class="fas fa-exclamation-circle fa-sm"></i> <small><em>{{ page.atualizacao }}</em></small>
										</h4>
										<hr />
										{% endif %}

										{% include apoie_o_nucleo.html %}
									 </hr>
										<h4 class="tags"><i class="fas fa-tags"></i> <u>Tags</u>: {{ page.tags }}</h4>
								</div>

								<hr>
								      </div>
											<div style="max-width: 600px;margin: 0 auto">
												{% include sugestoes_artigos.html %}

											</div>

	</section>

		{% include footer.html %}
		{% include js.html %}
	</body>
</html>
