<!DOCTYPE html>
<html>
	{% include head.html %}
	<body>
		{% include nav.html %}
		{% include popup.html %}

</div>

<style>

h2{
	font-size: 1.5em
}

h3{
	margin-top: 45px;
}

h4{
	text-transform: uppercase;
	margin-top: 45px
}

small{
	font-family: 'Roboto Mono';
	font-size: 0.6em;
}

#chart{
	margin: 0 auto;
	height: 730px;
	border: 1px dashed #999999
}

@media (max-width: 990px){
				#chart{
				height: 1300px
				}`
}

@media (max-width: 420px){
      #chart{
      height: 1450px
      }
}

</style>

		<!-- índice simples de matérias  -->
		<div class="container" style="padding: 0 5% 0px;max-width:950px;margin-top:75px; text-align:center">

			<br /><br />
		  <h5 class="chapeu">
				<i class="fas fa-layer-group fa-lg"></i> {{ page.tagline }}
			</h5>
								<div class="post-heading">
									<br />
									<h1 style="text-transform:uppercase">{{ page.title }}</h1>

									<!--<h2 style="color:#999999;font-family: 'Roboto Mono'">{{ page.desc }}</h2>-->

									<hr style="height:2px;background-color:#4b31dd;margin: 20px 0 10px" />
									<p>
										{{ page.contexto }}</p>

										<br>

										{{ page.share_buttons }}

								</div>
							</div>

						<div class="container" style="max-width: 1200px; margin: 0 auto">
							{{ page.iframe }}
						</div>

							<div class="container" style="max-width: 540px">

								<hr style="height:2px;background-color:#4b31dd;margin: 20px 0 10px" />

									{{ content }}

									<hr />
										<p>
										<span style="font-family:'Roboto Mono';font-size:0.8em;margin-left:30px">
										{% if page.atualizacao %}	Última atualização desta página em {{ page.atualizacao | date: '%d/%m/%Y' }} {% endif %}
										</span>
										</p>
									</div>



  {% include footer.html %}
  {% include js.html %}
</body>
</html>
