<!DOCTYPE html>
<html>
	{% include head.html %}
	<body>
		{% include nav.html %}
		{% include popup.html %}

</div>

		<!-- índice simples de matérias  -->
		<div class="container" style="padding: 0 5% 0px;max-width:950px;margin-top:75px; text-align:center">

			<br /><br />
		  <h5 class="chapeu">
				<i class="fas fa-layer-group fa-lg"></i> QUEM SOMOS
			</h5>
								<div class="post-heading">
									<br />
									<h1 style="text-transform:uppercase">{{ page.title }}</h1>
									{% if page.subtitle %}
									<h3 style="color:#777">{{ page.subtitle }}</h3>
									{% endif %}
									<hr style="height:2px;background-color:#4b31dd;margin: 20px 0 10px" />

									<code>
										Publicamos
										{% assign counter = 0 %}
										{% for post in site.posts %}
										  {% assign thisyear = post.date | date: "%Y" %}
										  {% assign prevyear = post.previous.date | date: "%Y" %}
										  {% assign counter = counter | plus: 1 %}
										  {% if thisyear != prevyear %}
										    <u>{{ counter }} matérias</u> em {{ thisyear }} |
										    {% assign counter = 0 %}
										  {% endif %}
										{% endfor %}
										<a href="{{"/posts" | relative_url }}"><i class="far fa-list-alt"></i> &rarr;</a>
									</code>

								</div>
							</div>

							{% include intro_sobrenos.html %}
							{% include slide3.html %}
							{% include slide1.html %}
							{% include slide2.html %}
							{% include slide4.html %}
							{% include slide5.html %}

  {% include footer.html %}
  {% include js.html %}
</body>
</html>
